PidFile	/run/opendkim/opendkim.pid
Mode	v
Syslog	yes
SyslogSuccess	yes
LogWhy	yes
UserID	opendkim:opendkim
Socket	inet:8891@localhost
Umask	002
SendReports	yes
SoftwareHeader	yes
Canonicalization	relaxed/relaxed
Selector	default
MinimumKeyBits	1024
KeyFile	/etc/opendkim/keys/default.private
# KeyTable	/etc/opendkim/KeyTable
# SigningTable	refile:/etc/opendkim/SigningTable
# ExternalIgnoreList	refile:/etc/opendkim/TrustedHosts
# InternalHosts	refile:/etc/opendkim/TrustedHosts
# PeerList	X.X.X.X
OversignHeaders	From
# QueryCache	yes
