# -*-perl-*-
use {{ bop_perl_root }}::BConf;
{{ bop_perl_root }}::BConf->merge_dir({
    'Bivio::Agent::Request' => {
        can_secure => {{ bop_can_secure | int }},
    },
    'Bivio::Biz::File' => {
        root => '/var/db/bop',
        backup_root => '/var/bkp/bop',
    },
    'Bivio::Biz::Model::CRMForm' => {
        want_status_email => 0,
    },
    'Bivio::Delegate::Cookie' => {
        tag => '{{ bop_cookie_tag }}',
    },
    'Bivio::IO::Alert' => {
        want_time => 1,
        want_pid => 1,
    },
    'Bivio::IO::Config' => {
        is_production => {{ bop_is_production | int }},
    },
    'Bivio::IO::Log' => {
        directory => '/var/log/bop',
    },
    'Bivio::UI::Facade' => {
        local_file_root => '/var/www/facades',
        want_local_file_cache => 1,
        # Only used on test systems
        http_host => '{{ bop_http_host }}',
        mail_host => '{{ bop_mail_host }}',
    },
    'Bivio::UI::HTML::Widget::SourceCode' => {
        source_dir => '{{ bop_source_code_dir }}',
    },
    'Bivio::Util::HTTPLog' => {
        error_file => '/var/log/httpd/error_log',
        # avoid spambots
        email => 'errors' . '@' . 'bivio.biz',
        pager_email => 'critical-errors' . '@' . 'bivio.biz',
    },
{{ bop_bconf_aux }}
});
