#!/bin/bash
export BCONF='{{ bop.bconf_f }}'
export BIVIO_IO_ALERT_WANT_TIME=0
export BIVIO_IO_ALERT_WANT_PID=0
bivio sql export_db .
declare -a dirs=()
for d in '{{ bop.bkp_d }}' '{{ bop.logbop_d }}' \
    '{{ bop.db_d }}'/{RealmMail,RealmMailBounce,MailReceiveDispatchForm,LegacyClubUploadForm,OFXImportForm,DynamicsUpdate}; do
    # prevent failing on:
    # find: '/srv/petshop/db/MailReceiveDispatchForm': No such file or directory
    if [[ -d $d ]]; then
        dirs+=( "$d" )
    fi
done
find "${dirs[@]}" \
    \( -type f -mtime +'{{ db_bkp.max_copies }}' -exec rm -f {} \; \) \
    -o -type d -mtime +2 -empty -exec rmdir {} \; -prune;
find '{{ bop.db_d }}'/RealmFile -name '.*#*' -mtime +3 -exec rm -f {} \;
