# The order of this list matters a bit
# AddOutputFilterByType
LoadModule mime_module		modules/mod_mime.so
# status
LoadModule status_module		modules/mod_status.so
# SetHandler
LoadModule actions_module		modules/mod_actions.so
# Require host
LoadModule authz_host_module		modules/mod_authz_host.so
# RequestHeader
LoadModule headers_module		modules/mod_headers.so
# LogFormat
LoadModule log_config_module		modules/mod_log_config.so
# PerlModule
LoadModule perl_module		modules/mod_perl.so
# RequestReadTimeout
LoadModule reqtimeout_module		modules/mod_reqtimeout.so
LoadModule authz_core_module		modules/mod_authz_core.so
LoadModule mpm_prefork_module		modules/mod_mpm_prefork.so
# BrowserMatch
LoadModule setenvif_module		modules/mod_setenvif.so
# User/Group
LoadModule unixd_module		modules/mod_unixd.so
# AddOutputFilterByType
LoadModule filter_module		modules/mod_filter.so

Listen {{ bop.listen_base }}
Listen {{ bop.listen_base + 1 }}

User {{ rsconf_db.run_u }}
Group {{ rsconf_db.run_u }}
ServerAdmin root@bivio.biz
ServerTokens ProductOnly

Timeout 1200
KeepAlive On
MaxKeepAliveRequests 10
KeepAliveTimeout 2
MinSpareServers 1

MaxSpareServers {{ bop.num_servers }}
StartServers {{ bop.num_servers }}
MaxRequestWorkers {{ bop.num_servers }}
MaxConnectionsPerChild 120
LimitRequestBody 240000000
# https://www.apache.org/security/asf-httpoxy-response.txt
RequestHeader unset Proxy early
RequestReadTimeout header=5

ServerRoot /etc/httpd
# /var/run is not accessible; not a security concern
PidFile {{ bop.pid_file }}
TypesConfig /etc/mime.types
UseCanonicalName Off
LogFormat "%V %h %P %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
CustomLog /var/log/httpd/access_log combined
ErrorLog /var/log/httpd/error_log
LogLevel warn
ExtendedStatus On
TraceEnable off

DocumentRoot /var/www/html

<Directory />
    AllowOverride None
    Options FollowSymLinks
</Directory>

PerlWarn on
PerlModule Apache2::compat

# TODO: Override the translation handler to avoid local file permission checks
PerlModule Bivio::Ext::ApacheConstants
PerlModule Bivio::Agent::HTTP::Dispatcher

<Location />
    Require all granted
    SetHandler perl-script
    PerlResponseHandler Bivio::Agent::HTTP::Dispatcher
</Location>

<Location /zz/zig>
    #TODO: local host IP
    Require host 127.0.0.1 .bivio.biz
    SetHandler server-status
    PerlResponseHandler Apache2::Status
</Location>

BrowserMatch "Mozilla/2" nokeepalive
BrowserMatch "MSIE 4\.0b2;" nokeepalive downgrade-1.0 force-response-1.0
BrowserMatch "RealPlayer 4\.0" force-response-1.0
BrowserMatch "Java/1\.0" force-response-1.0
BrowserMatch "JDK/1\.0" force-response-1.0
