#!/bin/bash

{{ bop.app_name }}_initdb() {
    # This is the sentinel that the db is created
    if [[ -d {{ bop.db_d }}/RealmFile ]]; then
        return
    fi
    sudo su - '{{ bop.run_u }}' <<'EOF'
    set -euo pipefail
    export BCONF='{{ bop.bconf_f }}'
    bivio sql init_dbms || true
{% if not bop.is_production %}
    bivio sql -f create_test_db
{% endif %}
EOF
    rsconf_service_trigger_restart '{{ bop.app_name }}'
}
