#!/bin/bash

bop_facade_setup() {
    local src_d=$1
    local dst_d=$2
    local logo_uri=$3
    local x src dst
    for x in b i f; do
        if [[ -e $src_d/$x && ! -L $dst_d/$x ]]; then
            ln -s -r "$src_d/$x" "$dst_d/$x"
        fi
    done
    for x in png gif jpg; do
        src="$src_d/i/logo.$x"
        if [[ ! -e $src ]]; then
            continue
        fi
        dst="$dst_d/$logo_uri"
        if [[ ! -e $dst || $src -nt $dst ]]; then
            convert "$src" "$dst"
            chmod 644 "$dst"
        fi
        return
    done
    install_err "$src: facade logo for maintenance not found"
}

bop_main() {
    {{ bop.facade_setup_cmds | indent(4, indentfirst=False) }}
    postfix_setup_bop '{{ bop.mail_domain_keys | join("' '") }}'
}
