server {
    listen {{ nginx_vhost }}:80;
    server_name {{ nginx_vhost }};
    return 301 https://$http_host$request_uri;
}

server {
    listen {{ nginx_vhost }}:443;
    server_name {{ nginx_vhost }};
    root {{ nginx_default_root }};
    ssl_certificate {{ nginx_tls_crt }};
    ssl_certificate_key {{ nginx_tls_key }};

    {{ bop_aux_directives | indent(4, indentfirst=False) }}

    location ~ /_ {
        deny all;
        return 403;
    }

    # Need to configure caching and better proxying
    # https://www.digitalocean.com/community/tutorials/understanding-nginx-http-proxying-load-balancing-buffering-and-caching
    location / {
        allow all;
        proxy_pass http://127.0.0.1:{{ bop_listen_base }};
    }
}

{% for h in bop_domain_aliases %}
server {
    listen {{ h }}:80;
    server_name {{ h }};
    return 301 https://{{ nginx_vhost }}$request_uri;
}
{% endfor %}
