server {
    listen localhost.localdomain:80;
    server_name localhost.localdomain;
    root {{ nginx.default_root }};

    {% for h in bop.mail_domain_keys %}
    location ~* /_mail_receive/.*\@\Q{{ h }}\E {
        allow 127.0.0.1;
        deny all;
        proxy_pass http://127.0.0.1:{{ bop.mail_domains[h] }};
    }
    {% endfor %}

    location / {
        deny all;
        return 403;
    }

}

{{ bop.aux_directives }}
