server {
    listen {{ nginx_vhost }}:80;
    server_name {{ nginx_vhost }};
    return 301 https://$http_host$request_uri;
}

server {
    listen {{ nginx_vhost }}:443;
    server_name {{ nginx_vhost }};
    root {{ nginx_default_root }};
    ssl_certificate {{ nginx_tls_crt }};
    ssl_certificate_key {{ nginx_tls_key }};

    {{ bop_aux_directives | indent(4, indentfirst=False) }}

    location ~ /_ {
        deny all;
        return 403;
    }

    location / {
        proxy_pass http://127.0.0.1:{{ bop_listen_base }};
        proxy_http_version 1.1;
        # https://www.kb.cert.org/vuls/id/797896
        proxy_set_header Proxy "";
        proxy_set_header Accept-Encoding "";
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Via $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        add_header Front-End-Https on;
        proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
        proxy_read_timeout 600s;
        proxy_send_timeout 600s;
        proxy_connect_timeout 600s;
    }
}

{% for h in bop_domain_aliases %}
server {
    listen {{ h }}:80;
    server_name {{ h }};
    return 301 https://{{ nginx_vhost }}$request_uri;
}
{% endfor %}
