# -*-perl-*-
use Bivio::PetShop::BConf;
Bivio::PetShop::BConf->merge_dir({
    'Bivio::Agent::Request' => {
        can_secure => 0,
    },
    'Bivio::IO::Config' => {
        is_production => 0,
    },
    'Bivio::Delegate::Cookie' => {
        tag => 'PSDEV',
    },
    'Bivio::UI::Facade' => {
        local_file_root => '/var/www/facades',
        want_local_file_cache => 1,
        # Only used on test systems
        http_host => 'z50.bivio.biz',
        mail_host => 'z50.bivio.biz',
    },
    'Bivio::Util::HTTPLog' => {
        error_file => '/var/log/httpd/error_log',
    },
    'Bivio::UI::HTML::Widget::SourceCode' => {
        # bivio.biz /var/www/facades/bivio.biz/plain/f/bOP/lib
        # default /var/www/html
        source_dir => '/var/www/facades/petshop/plain/s',
    },
    'Bivio::Util::HTTPLog' => {
        email => 'errors@bivio.biz',
        pager_email => 'critical-errors@bivio.biz',
    },
    'Bivio::IO::Alert' => {
        want_time => 1,
        want_pid => 1,
    },
    'Bivio::Biz::Model::CRMForm' => {
        want_status_email => 0,
    },
# {{ other_defaults }}
});
