[Unit]
After=docker.service {{ systemd.after }}
Description={{ systemd.service_name }}
Requires=docker.service

[Service]
ExecStart={{ systemd.start }}
ExecStartPre={{ systemd.remove }}
ExecStop=-{{ systemd.stop }}
{% if systemd.is_timer %}
Type=oneshot
{% else %}
Restart=on-failure
RestartSec=10
{% endif %}
SyslogIdentifier={{ systemd.service_name }}

[Install]
WantedBy=multi-user.target
