[Unit]
After=docker.service {{ systemd.after }}
Description={{ systemd.service_name }}
Requires=docker.service

[Service]
ExecStart={{ systemd.start }}
ExecStartPre={{ systemd.remove }}
ExecStop=-{{ systemd.stop }}
{% if systemd.instance_spec.env_var %}
Environment="{{ systemd.instance_spec.env_var }}=%i"
SyslogIdentifier={{ systemd.service_name }}@%i
{% else %}
SyslogIdentifier={{ systemd.service_name }}
{% endif %}
{% if systemd.is_timer %}
Type=oneshot
{% else %}
Restart=on-failure
RestartSec=10
{% endif %}

[Install]
WantedBy=multi-user.target
