[Unit]
Description={{ systemd.service_name }}
Requires=docker.service
After=docker.service {{ systemd.after }}

[Service]
Restart=on-failure
RestartSec=10
ExecStartPre={{ systemd.remove }}
ExecStart={{ systemd.start }}
ExecStop=-{{ systemd.stop }}

[Install]
WantedBy=multi-user.target
