[Unit]
Description={{ name }}
{%- if after %}
Requires={{ after }}
After={{ after }}
{% endif -%}

[Service]
Restart=on-failure
RestartSec=10
ExecStartPre={{ remove }}
ExecStart={{ start }}
ExecStop=-{{ stop }}

[Install]
WantedBy=multi-user.target
