[Unit]
After=docker.service {{ systemd.after }}
Description={{ systemd.service_name }}
Requires=docker.service

[Service]
ExecStart={{ systemd.start }}
ExecStartPre={{ systemd.remove }}
ExecStop=-{{ systemd.stop }}
Restart=on-failure
RestartSec=10
SyslogIdentifier={{ systemd.service_name }}

[Install]
WantedBy=multi-user.target
