#!/bin/bash
#
# Usage: run [bash -l]
#
set -euo pipefail
cmd=( {{ cmd }} )
flags='--name {{ service }} '
if (( $# > 0 )); then
    flags='-i '
    cmd=( $@ )
fi
exec docker run $flags --tty --rm --user={{ run_u }} --net host {{ volumes }} {{ image }} "${cmd[@]}"
