#!/bin/bash
#
# Usage: run [bash -l]
#
set -euo pipefail
# Needed to allow for empty commands (e.g. docker_registry), bash will complain
# if an variable is empty as unbound (set -u above)
image_cmd=( '{{ systemd.image }}' )
flags='--name {{ systemd.service_name }} '
user={{ systemd.run_u }}
if (( $# > 0 )); then
    flags='-i '
    if [[ -t 0 ]]; then
        flags="$flags-t"
    fi
    image_cmd+=( $@ )
    if [[ ${start_run_u:=} ]]; then
        user=$start_run_u
    fi
else
    image_cmd+=( {{ systemd.cmd }} )
fi
# --init runs tini wrapper: https://github.com/krallin/tini
exec docker run $flags --init --rm "--user=$user" --net host {{ systemd.volumes }} "${image_cmd[@]}"
