[Unit]
Description={{ systemd.service_name }}

[Service]
ExecStart={{ systemd.timer_start_f }}
Group={{ systemd.run_u }}
SyslogIdentifier={{ systemd.service_name }}
Type=oneshot
User={{ systemd.run_u }}

[Install]
WantedBy=multi-user.target
