[Unit]
Description={{ systemd.service_name }}

[Service]
Environment=TZ=:/etc/localtime
ExecStart={{ systemd.timer_start_f }}
Group={{ systemd.run_u }}
{# no PrivateTmp=true for now, because bkp needs ssh socket #}
SyslogIdentifier={{ systemd.service_name }}
Type=oneshot
User={{ systemd.run_u }}

[Install]
WantedBy=multi-user.target
