[Unit]
Description={{ systemd.service_name }}

[Service]
Environment=TZ=:/etc/localtime
ExecStart={{ systemd.timer_start_f }}
Group={{ systemd.run_u }}
{# https://access.redhat.com/blogs/766093/posts/1976243 #}
PrivateTmp=true
SyslogIdentifier={{ systemd.service_name }}
Type=oneshot
User={{ systemd.run_u }}

[Install]
WantedBy=multi-user.target
