---
default:
  base_os:
    ip_forward: false
  bkp:
    archive_d: /srv/bkp/archive
    exclude:
      - /etc/selinux
    hosts:
      - {{ host }}
      - {{ master }}
    include:
      - /etc
      - /var/log
    log_dirs:
      - /var/log
      - /srv/*/log
    max_try: 6
    mirror_d: /srv/bkp/mirror
    # Time zones not accepted in systemd 219 (CentOS 7).
    # Times are in UTC. We may need to change the local time zone.
    on_calendar: "*-*-* 08:00:00"
    primary: {{ master }}
    secondaries: []
  bop:
    bconf_aux: ''
    is_production: false
    secret:
      algorithm: DES
      magic: XYZ
    server_status_location: /bop-status
  btest:
    client_host: {{ master }}
    email_user: {{ user }}
    local_mail_host:
    apps: [ petshop ]
    on_calendar: "*-*-* 12:00:00"
  celery_sirepo:
    queues: "sequential,parallel"
  component:
    tls_crt_create: true
    tls_crt:
      dev_host:
        - alpha2.sirepo.com
        - beforeother.{{ host }}
        - jupyter.{{ all_host }}
        - jupyter.{{ master }}
        - m-petshop.{{ host }}
        - other.{{ host }}
        - petshop.{{ host }}
        - requiresecure.{{ host }}
        - sirepo.{{ host }}
        - {{ all_host }}
        - {{ host }}
      dev_master:
        - {{ master }}
  docker:
    iptables: false
  docker_registry:
    host: {{ master }}
  jupyterhub:
    admin_users: [ '{{ user }}' ]
    docker_image: docker.io/radiasoft/jupyterhub
    jupyter_docker_image: docker.io/radiasoft/beamsim-jupyter
    # github:
    #  client_id: ""
    #  client_secret: ""
    port: 7913
    vhosts:
      {{ host }}: jupyter.{{ master }}
  logrotate:
    verbose: true
    # sometime before bkp.on_calendar
    on_calendar: "*-*-* 07:30:00"
  network:
    devices: {}
    trusted: {}
    public_ssh: False
  nfs_server:
    num_servers: 16
  nginx:
    worker_processes: 1
  petshop:
    can_secure: false
    cookie_tag: PSD
    http_host: petshop.{{ host }}
    listen_base: 8114
    mail_host: petshop.{{ host }}
    nginx_aux_directives: ''
    num_servers: 4
    perl_root: Bivio::PetShop
    short_prefix: pet
    vhost_common:
      # Only for test
      host_suffix: {{ host }}
    vhosts:
      # first vhost is default mail_host
      - domains:
          - petshop.{{ host }}
          - bprog.{{ host }}
        mail_domains:
          - petshop.{{ host }}
        nginx_aux_directives: |
          location /nginx_redirect/(.*) {
              return 301 $scheme://$http_host/$1;
          }

      - facade: beforeother
      - facade: m-petshop
      - facade: other
      - facade: requiresecure
  postgresql:
    # https://wiki.postgresql.org/wiki/Tuning_Your_PostgreSQL_Server#effective_cache_size
    effective_cache_size: 244MB
    # https://wiki.postgresql.org/wiki/Tuning_Your_PostgreSQL_Server#shared_buffers
    # "If you have a system with 1GB or more of RAM, a reasonable
    # starting value for shared_buffers is 1/4 of the memory in your system."
    shared_buffers: 122MB
    auth_local_method: md5
  postgrey:
    port: 10023
    whitelist_recipients: []
  rabbitmq:
    docker_image: docker.io/radiasoft/rabbitmq
  rsconf_db:
    #TODO(robnagler) POSIT dev/nginx/nginx.conf.jinja
    # defunct elvin_server https://en.wikipedia.org/wiki/Elvin
    http_host: http://{{ master }}:{{ port }}
    host_run_d: /srv
    root_u: root
    run_u: {{ user }}
    run_uid: {{ uid }}
    srv_group: {{ group }}
  sirepo:
    docker_image: docker.io/radiasoft/sirepo
    oauth:
      github_key: ""
      github_secret: ""
    pkcli:
      service_processes: 1
      service_threads: 20
      service_port: 7000
    server:
      oauth_login: false
  spamd: {}

channel:
  dev:
    base_os:
      # Needed for Docker with iptables (not using --network=host)
      ip_forward: true
      #TODO(robnagler) create volume groups and
      volume_groups:
        - name: docker
          logical_volumes:
            - name: docker
              #POSIT: downloadx/installers/vagrant-dev:config.persistent_storage.size=102400
              gigabytes: 99
              mount_d: /srv/docker
    bop:
      apps: [ petshop ]
    docker:
      iptables: true
    petshop:
      dbi_password: petpass
      nginx:
        vhost: petshop.{{ host }}
    postgresql:
      auth_local_method: trust
      postgres_password: pgpass
    sirepo:
      celery_tasks:
        celeryd_concurrency: 1
        broker_url: "amqp://guest@rabbitmq.{{ host }}//"
      mpi_cores: 2
      vhost: sirepo.{{ host }}
    network:
      trusted:
        # v*.radia.run private network
        10.10.10.0/24:
          gateway: 10.10.10.1
        # random network to test
        104.237.137.0/24:
          gateway: 104.237.137.1
          search: radia.run
          nameservers: [ 162.159.27.72, 162.159.24.39 ]

host:
  dev:
    {{ host }}:
      nfs_server:
        exports:
          /srv/sirepo/db/users: [ 10.10.10.0/24 ]
      rsconf_db:
        # components: [ nfs_server, rabbitmq, celery_sirepo, sirepo ]
        components: [ bop ]
    {{ master }}:
      base_os:
        volume_groups: []
      rsconf_db:
        components: [ docker_registry, rsconf, jupyterhub_proxy, bkp, btest ]
    # never installed, just for testing build
    {{ all_host }}:
      docker:
        iptables: false
      jupyterhub:
        github:
          client_id: xyzzy
          client_secret: big-secret
        vhosts:
          {{ all_host }}: jupyter.{{ all_host }}
      network:
        public_ssh: true
        natted_nets: [ 10.10.10.0/24 ]
        devices:
          em1:
            ip: 10.10.10.5
            is_natted: True
          em2:
            ip: 104.237.137.2
      nfs_client:
        mounts:
          {{ master }}:
            - /srv/sirepo/db/users
      nfs_server:
        num_servers: 64
        exports:
          /exports/foo: [ 10.10.10.0/24, localhost ]
      rsconf_db:
        components: [ nfs_client, nfs_server, rabbitmq, celery_sirepo, sirepo, bop, jupyterhub, jupyterhub_proxy ]


#Local Variables:
#mode:yaml
#End:
