---
default:
  base_os:
    ip_forward: false
    volume_group: {}
  bop:
    docker_image: biviosoftware/bivio
    server_status_location: /bop-status
    is_production: false
    bconf_aux: ''
  celery_sirepo:
    queues: "sequential,parallel"
  docker:
    iptables: false
  docker_registry:
    host: {{ master }}
  iptables:
    our_networks:
      # bdu3
      - 50.253.124.194
      # dfw1
      - 72.14.189.248
      # dfw2
      - 72.14.189.97
      # dfw4
      - 104.237.137.251
      # frii
      - 216.17.132.32/27
      # vw
      - 216.87.82.64/27
  nginx:
    worker_processes: 1
  petshop:
    docker_image: biviosoftware/bivio
    http_host: petshop.{{ host }}
    mail_host: petshop.{{ host }}
    listen_base: 8114
    cookie_tag: PSD
    can_secure: false
    perl_root: Bivio::PetShop
    num_servers: 4
    # bivio.biz /var/www/facades/bivio.biz/plain/f/bOP/lib
    # default /var/www/html
    source_code_d: /var/www/facades/petshop/plain/s
    nginx_aux_directives: ''
    vhost_common:
      # Only for test
      host_suffix: {{ host }}
    vhosts:
      # first vhost is default mail_host
      - domains:
          - petshop.{{ host }}
          - bprog.{{ host }}
        mail_domains:
          - petshop.{{ host }}
        nginx_aux_directives: |
          location /nginx_redirect/(.*) {
              return 301 $scheme://$http_host/$1;
          }

      - facade: beforeother
      - facade: m-petshop
      - facade: other
      - facade: requiresecure
  postgresql:
    # https://wiki.postgresql.org/wiki/Tuning_Your_PostgreSQL_Server#effective_cache_size
    effective_cache_size: 244MB
    # https://wiki.postgresql.org/wiki/Tuning_Your_PostgreSQL_Server#shared_buffers
    # "If you have a system with 1GB or more of RAM, a reasonable
    # starting value for shared_buffers is 1/4 of the memory in your system."
    shared_buffers: 122MB
    auth_local_method: md5
  postgrey:
    port: 10023
    docker_image: biviosoftware/perl
    whitelist_recipients: []
  rabbitmq:
    docker_image: docker.io/radiasoft/rabbitmq
  rsconf_db:
    #TODO(robnagler) POSIT dev/nginx/nginx.conf.jinja
    http_host: http://{{ master }}:8000
    host_run_d: /var/lib
    root_u: root
    run_u: {{ user }}
    run_uid: {{ uid }}
    srv_group: {{ group }}
  sirepo:
    docker_image: docker.io/radiasoft/sirepo
    oauth:
      github_key: ""
      github_secret: ""
    pkcli:
      service_processes: 1
      service_threads: 20
      service_port: 7000
    server:
      oauth_login: false
  spamd:
    port: 10783
    docker_image: biviosoftware/perl


channel:
  dev:
    base_os:
      # Needed for Docker with iptables (not using --network=host)
      ip_forward: true
      #TODO(robnagler) create volume groups and
      volume_groups:
        - name: docker
          logical_volumes:
            - name: docker
              #POSIT: downloadx/installers/vagrant-dev:config.persistent_storage.size=102400
              gigabytes: 99
              mount_d: /var/lib/docker
    bop:
      apps: [ petshop ]
    docker:
      iptables: true
    petshop:
      nginx:
        vhost: petshop.{{ host }}
    postgresql:
      auth_local_method: trust
      postgres_password: pgpass
    sirepo:
      celery_tasks:
        celeryd_concurrency: 1
        broker_url: "amqp://guest@rabbitmq.{{ host }}//"
      mpi.cores: 2
      vhost: sirepo.{{ host }}

host:
  dev:
    {{ host }}:
      rsconf_db_components: [ rabbitmq, celery_sirepo, sirepo ]
      # rsconf_db_components: [ bop ]
    {{ master }}:
      base_os:
        volume_groups: []
      rsconf_db_components: [ docker_registry ]

#Local Variables:
#mode:yaml
#End:
