[Unit]
Description={{ systemd.service_name }}

[Service]
Environment=TZ=:/etc/localtime
ExecStart={{ this.start_f }}
ExecStop={{ this.stop_f }}
Group={{ this.run_u }}
KillMode=none
RemainAfterExit=yes
SyslogIdentifier={{ systemd.service_name }}
TimeoutStartSec={{ this.timeout_start_min }}min
Type=oneshot
User={{ this.run_u }}

[Install]
WantedBy=multi-user.target
