[Unit]
Description={{ systemd.service_name }}

[Service]
Environment=TZ=:/etc/localtime
ExecStart={{ this.start_f }}
Group={{ this.run_u }}
PrivateTmp=true
SyslogIdentifier={{ systemd.service_name }}
Type=oneshot
User={{ this.run_u }}

[Install]
WantedBy=multi-user.target
