[Unit]
After=docker.service 
Description=mpi_worker
Requires=docker.service

[Service]
ExecStart=/srv/mpi_worker/start
ExecStartPre=/srv/mpi_worker/remove
ExecStop=-/srv/mpi_worker/stop
SyslogIdentifier=mpi_worker
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
