# system specific
effective_cache_size = {{ postgresql.effective_cache_size }}
shared_buffers = {{ postgresql.shared_buffers }}

# https://wiki.postgresql.org/wiki/Tuning_Your_PostgreSQL_Server
checkpoint_completion_target = 0.9
checkpoint_segments = 64
listen_addresses = ''
log_checkpoints = on
# POSIT: /etc/logrotate.conf rotates the logs
log_filename = '{{ postgresql.log_filename }}'
log_line_prefix = '%t %d %p '
log_rotation_age = 0
maintenance_work_mem = 64MB
max_connections = 128
ssl = on
ssl_cert_file = '{{ postgresql.ssl_cert_file }}'
ssl_ciphers = 'DHE-RSA-AES256-SHA:AES256-SHA:DHE-RSA-AES128-SHA:RC4-SHA:HIGH:!ADH'
ssl_key_file = '{{ postgresql.ssl_key_file }}'
wal_buffers = 64MB
work_mem = 4MB
