LogFormat "%V %h %P %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
CustomLog {{ wordpress.log_d }}/access.log combined
ErrorLog {{ wordpress.log_d }}/error.log
MaxConnectionsPerChild 120
MaxRequestWorkers {{ wordpress.num_servers }}
MaxSpareServers	{{ wordpress.num_servers }}
MinSpareServers {{ wordpress.num_servers }}
{# Avoid this: wordpress[31703]: AH00558: apache2: Could not reliably determine the server's fully qualified domain name, using v4.radia.run. Set the 'ServerName' directive globally to suppress this message #}
ServerName {{ rsconf_db.host }}

{# assumes docker --network=host #}
{% for h, v in wordpress.vhosts.items() %}
    Listen {{ wordpress.ip }}:{{ v.port }}
    <VirtualHost {{ wordpress.ip }}:{{ v.port }}>
        ServerAdmin support@{{ h }}
        DocumentRoot {{ v.srv_d }}
        <Directory {{ v.srv_d }}>
            Require all granted
            Options -Indexes
            AllowOverride All
        </Directory>
    </VirtualHost>
{% endfor %}
