export HOME=/var/www
export LANG=C
export APACHE_RUN_USER={{ wordpress.run_u }}
export APACHE_RUN_GROUP={{ wordpress.run_u }}
export APACHE_PID_FILE={{ wordpress.apache_run_d }}/apache2.pid
export APACHE_RUN_DIR={{ wordpress.apache_run_d }}
export APACHE_LOCK_DIR={{ wordpress.apache_run_d }}
export APACHE_LOG_DIR={{ wordpress.log_d }}
