{% for h, v in wordpress.vhosts.items() %}
    server {
        listen {{ h }}:80;
        server_name {{ h }};
        root {{ nginx.default_root }};
        location / {
            allow all;
            proxy_pass http://{{ wordpress.ip }}:{{ v.port }};
        }
    }
    server {
        listen www.{{ h }}:80;
        server_name www.{{ h }};
        return 301 http://{{ h }}$request_uri;
    }
{% endfor %}
