BOOTPROTO=static
DEFROUTE={{ network.dev.defroute }}
DEVICE={{ network.dev.name }}
GATEWAY={{ network.dev.net.gateway }}
IPADDR={{ network.dev.ip }}
IPV6INIT=no
NETMASK={{ network.dev.net.netmask }}
ONBOOT=yes
VLAN={{ network.dev.vlan }}
