*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
{# https://serverfault.com/a/84981 To make it even harder to learn
 # about this, many common firewall books say "block ICMP" -- it's
 # clear their authors have never read an RFC or had to solve issues
 # surrounding such advice. It's bad advice to block all ICMP.
 #}
-A INPUT -p icmp -j ACCEPT
{# https://unix.stackexchange.com/a/108186
 # found this thread from the netfilter@vger.kernel.org netfilte/iptables
 # discussions, titled: state match is obsolete 1.4.17, which pretty much
 # says that state is just an alias to conntrack so it doesn't really
 # matter which you use, in both circumstances you're using conntrack.
 #
 # robnagler: I figure it easier to stick with state.
 #}
{% for d in network.private_devs %}
    -A INPUT -i {{ d }} -j ACCEPT
{% endfor %}
{% if network.public_tcp_ports %}
    -A INPUT -i {{ network.inet_dev.name }} -p tcp -m state --state NEW -m tcp --match multiport --dports {{ network.public_tcp_ports | join(',') }} -j ACCEPT
{% endif %}
{% if network.trusted_tcp_ports %}
    {% for n in network.trusted_public_nets %}
        -A INPUT -i {{ network.inet_dev.name }} -s {{ n }} -p tcp -m state --state NEW -m tcp --match multiport --dports {{ network.trusted_tcp_ports | join(',') }} -j ACCEPT
    {% endfor %}
{% endif %}
{% if network.public_udp_ports %}
    -A INPUT -i {{ network.inet_dev.name }} -p udp --match multiport --dports {{ network.public_udp_ports | join (',') }} -j ACCEPT
{% endif %}
-A INPUT -i {{ network.inet_dev.name }} -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i {{ network.inet_dev.name }} -m state --state INVALID -j REJECT --reject-with icmp-port-unreachable
-A INPUT -i {{ network.inet_dev.name }} -p tcp -m tcp --tcp-flags SYN,RST,ACK ACK -m state --state NEW -j REJECT --reject-with tcp-reset
-A INPUT -i {{ network.inet_dev.name }} -p tcp -m tcp ! --tcp-flags FIN,SYN,RST,ACK SYN -m state --state NEW -j REJECT --reject-with icmp-port-unreachable
-A INPUT -i {{ network.inet_dev.name }} -p tcp -m tcp --tcp-option 128 -j REJECT --reject-with icmp-port-unreachable

{# ssh: Accept our networks always #}
{% for n in network.trusted_public_nets %}
    -A INPUT -i {{ network.inet_dev.name }} -s {{ n }} -p tcp -m tcp {% if network.public_ssh_port -%}
        --match multiport --dports ssh,{{ network.public_ssh_port }}
        {%- else -%}--dport ssh
        {%- endif %} -j ACCEPT
{% endfor %}
{% if network.public_ssh_port %}
    {# uses a /24 mask, because we don't want many connections #}
    -A INPUT -i {{ network.inet_dev.name }} -p tcp -m tcp --dport {{ network.public_ssh_port }} -m state --state NEW -m recent --set --name SSHPROBES --mask 255.255.255.0 --rsource
    -A INPUT -i {{ network.inet_dev.name }} -p tcp -m tcp --dport {{ network.public_ssh_port }} -m state --state NEW -m recent --update --seconds 180 --hitcount 6 --name SSHPROBES --mask 255.255.255.0 --rsource -j DROP
    -A INPUT -i {{ network.inet_dev.name }} -p tcp -m state --state NEW -m tcp --dport {{ network.public_ssh_port }} -j ACCEPT
{% endif %}
-A INPUT -j REJECT --reject-with icmp-host-prohibited

{% if network.nat_input_dev %}
    -A FORWARD -i {{ network.nat_output_dev.name }} -m state --state INVALID -j REJECT --reject-with icmp-port-unreachable
    -A FORWARD -i {{ network.nat_output_dev.name }} -o {{ network.nat_input_dev.name }} -m state --state RELATED,ESTABLISHED -j ACCEPT
    -A FORWARD -i {{ network.nat_output_dev.name }} -j REJECT --reject-with icmp-host-prohibited
{# COMMIT can't begin with whitespace #}
COMMIT
*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
    {# limit source addresses https://serverfault.com/a/511590 #}
    -A POSTROUTING -s {{ network.nat_input_dev.name }} -o {{ network.nat_output_dev.name }} -j MASQUERADE
{% else %}
    -A FORWARD -j REJECT --reject-with icmp-host-prohibited
{% endif %}
COMMIT
