[connection]
id={{ network.dev.name }}
type={{ 'vlan' if network.dev.vlan else 'ethernet' }}
interface-name={{ network.dev.name }}

{% if network.dev.vlan %}
[vlan]
parent={{ network.dev.name.split('.')[0] }}
id={{ network.dev.name.split('.')[1] }}
{% endif %}

[ethernet]
mac-address-blacklist=

[ipv4]
method=manual
addresses={{ network.dev.ip }}/{{ network.dev.net.netmask }}
gateway={{ network.dev.net.gateway }}
dns-search={{ network.defroute.net.search if network.defroute and network.defroute.net.search else '' }}
dns={{ network.defroute.net.nameservers|join(';') if network.defroute and network.defroute.net.nameservers else '' }}

[ipv6]
method=ignore
