#!/bin/bash
set -euo pipefail

run_db_create() {
    # file_root is a proxy for the database
    local d='{{ btest.file_root }}'
    # 6.5 days in seconds
    if [[ -e $d ]] && (( $(stat -c %Y $d) + 561600 > $(date -u +%s) )); then
        return
    fi
    bivio sql init_dbms || true
    bivio sql -force create_test_db
}

run_link_facade_files() {
    # copied from container-bop/radiasoft-download.sh
    bivio project link_facade_files
    local facade
    for facade in '{{ btest.file_root }}'/*; do
        if [[ ! -L $facade ]]; then
            mkdir -p "$facade/plain"
            ln -s /usr/share/Bivio-bOP-javascript "$facade/plain/b"
        fi
    done
}

run_main() {
    cd "$(dirname "${BASH_SOURCE[0]}")"
    rm -rf previous
    mv '{{ btest.current_base }}' previous >& /dev/null || true
    mkdir '{{ btest.current_base }}'
    cd '{{ btest.current_base }}'
    # POSIT: container-bop/radiasoft-download.sh
    cp -a '{{ btest.app_source_d }}' .
    export PERLLIB=$PWD BCONF='{{ btest.bconf.unit }}'
    run_db_create
    run_link_facade_files
    bivio test unit '{{ btest.root_for_unit }}' || true
    BCONF='{{ btest.bconf.acceptance }}' bivio test acceptance '{{ btest.root_for_acceptance }}'|| true
}

run_main "$@"
