# -*-perl-*-
use strict;
use {{ btest.perl_root }}::BConf;
{% if btest.bconf_is_unit %}
# port doesn't matter, just needs to be something
{{ btest.perl_root }}::BConf->dev(8888, {
{% else %}
{{ btest.perl_root }}::BConf->merge_dir({
{% endif %}
    'Bivio::Biz::Action::AssertClient' => {
        hosts => [qw(localhost.localdomain {{ btest.client_host }})],
    },
    'Bivio::Biz::File' => {
        root => '{{ btest.file_root }}',
        backup_root => '{{ btest.backup_root }}',
    },
    # link_facade_files should not create javascript
    'Bivio::IO::Config' => {
        is_dev => 0,
    },
    'Bivio::Ext::DBI' => {
        database => '{{ btest.database }}',
    },
    'Bivio::IO::Log' => {
        directory => '{{ btest.log_d }}',
    },
    'Bivio::Test::Language::HTTP' => {
        home_page_uri => 'https://{{ btest.http_host }}',
        local_mail_host => '{{ btest.client_host }}',
        remote_mail_host => '{{ btest.mail_host }}',
        email_user => '{{ btest.email_user }}',
    },
    'Bivio::UI::Facade' => {
        local_file_root => '{{ btest.facade_local_file_root }}',
        mail_host => '{{ btest.mail_host }}',
        http_host => '{{ btest.http_host }}',
    },
    'Bivio::UI::HTML::Widget::SourceCode' => {
        source_dir => '{{ btest.source_code_d }}',
    },
});
