#!/bin/bash

nightly_main() {
    local root=$1
    local bconf_base=$PWD/bivio
    rm -rf run
    mkdir run
    cd run
    # POSIT: container-bop/radiasoft-download.sh
    cp -a /usr/src/bop/"$root" .
    local d=$root
    if [[ $root == Bivio ]]; then
        d+=/PetShop
    fi
    PERLLIB=$PWD BCONF=$bconf_base-unit.bconf (
        set +e
        bivio project link_facade_files
        # 'bivio sql init_dbms',
        # 'bivio sql -force create_test_db',
        bivio test unit .
        BCONF=$bconf_base-acceptance.bconf bivio test acceptance "$d"
    )
}

# 'bivio project link_facade_files',
# 'bivio sql init_dbms',
_build('petshop', 'Bivio/PetShop');
# 'bivio sql -force create_test_db',
}
_build('bivio.biz', 'Artisans');
_build('bivio.org', 'BivioOrg');
_build('petshop', 'Bivio/PetShop');
_build('sensorimotor', 'Sensorimotor');
_build('bivio.com', 'Societas');
_build('zoescore', 'Zoe');
{
< Bivio::PetShop::BConf->merge_dir({
        ---
> Bivio::PetShop::BConf->dev(8888, {
        'Bivio::Test::Language::HTTP' => {
                    email_user => 'btest',
                            local_mail_host => 'btest.bivio.biz',
                                },
        };

nightly_main "$@"
