AuthorizedKeysFile {{ this.guest.identity_pub_f }}
HostKey {{ this.guest.host_key_f }}
ListenAddress {{ this.ip }}:{{ this.ssh_port }}
PasswordAuthentication no
PrintLastLog no
Protocol 2
X11Forwarding yes
