#!/bin/bash

base_users_main() {
    rsconf_radia_run_as_user {{ rsconf_db.root_u }} home
    if ! id {{ rsconf_db.run_u }} >& /dev/null; then
        #TODO(robnagler) make re-entrant
        groupadd -g {{ rsconf_db.run_uid }} {{ rsconf_db.run_u }}
        useradd -m -g {{ rsconf_db.run_u }} -u {{ rsconf_db.run_uid }} {{ rsconf_db.run_u }}
    fi
    rsconf_radia_run_as_user {{ rsconf_db.run_u }} home
    set +euo pipefail
    . ~/.bashrc
    set -euo pipefail
}
