#!/bin/bash
export SYSTEMD_COLORS=0
# --quit-if-one-screen --quit-on-intr --no-init
export SYSTEMD_LESS=FKX
rsc() {
    declare args=( "$@" )
    {% if rsconf_db.channel == "dev" %}{% raw %}
    if (( ! ${#args[@]} )); then
        args=( "$(hostname -f)" setup_dev )
    fi
    {% endraw %}{% endif %}
    radia_run rsconf.sh "${args[@]}"
}

bivio() {
    echo 'do not run bivio commands as root' 1>&2
    return 1
}

{{ base_users.root_bashrc_aux }}
