[Unit]
After=docker.service 
Description=github_bkp
Requires=docker.service

[Service]
ExecStart=/srv/github_bkp/start
ExecStartPre=/srv/github_bkp/remove
ExecStop=-/srv/github_bkp/stop
SyslogIdentifier=github_bkp
Type=oneshot

[Install]
WantedBy=multi-user.target
