[Unit]
After=docker.service 
Description=rs_mariadb
Requires=docker.service

[Service]
ExecStart=/srv/rs_mariadb/start
ExecStartPre=/srv/rs_mariadb/remove
ExecStop=-/srv/rs_mariadb/stop
SyslogIdentifier=rs_mariadb
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
