[Unit]
After=docker.service 
Description=wordpress
Requires=docker.service

[Service]
ExecStart=/srv/wordpress/start
ExecStartPre=/srv/wordpress/remove
ExecStop=-/srv/wordpress/stop
SyslogIdentifier=wordpress
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
