---
default: {}

channel:
  dev:
    component_tls_crt:
      mdc_host:
        - sirepo.{{ host }}
        - petshop.{{ host }}
        - {{ host }}
      mdc_master:
        - {{ master }}

host: {}

#Local Variables:
#mode:yaml
#End:
