{{ mongod.log_d }}/*.log {
    missingok
    notifempty
    postrotate
        kill -SIGUSR1 $(cat {{ mongod.pid_f }}) &> /dev/null
    endscript
    # Ensure postrotate only runs once for all logs
    sharedscripts
}
