AuthorizedKeysFile {{ mpi_worker.guest.identity_pub_f }}
HostKey {{ mpi_worker.guest.host_key_f }}
ListenAddress {{ mpi_worker.ssh_port }}
PasswordAuthentication no
PermitTunnel no
PermitUserEnvironment no
PrintLastLog no
PrintMotd no
Protocol 2
UseDNS no
