---
default: {}

channel:
  dev:
    bop:
      secret:
        # DES: openssl rand -hex 7
        key_hex: ea7b54b876c11a
        # openssl rand -base64 3
        # just grab first three alpha chars
        magic: IKY

host: {}

#Local Variables:
#mode:yaml
#End:
