---
default: {}

channel:
  dev:
    component:
      tls_crt:
        mdc_host:
          - beforeother.{{ host }}
          - m-petshop.{{ host }}
          - other.{{ host }}
          - petshop.{{ host }}
          - requiresecure.{{ host }}
          - sirepo.{{ host }}
          - {{ host }}
          - z5.radia.run
        mdc_master:
          - {{ master }}

host: {}

#Local Variables:
#mode:yaml
#End:
