---
default: {}

channel:
  dev:
    bop:
      secret:
        # DES: openssl rand -hex 7
        key_hex: ea7b54b876c11a
        # openssl rand -base64 3
        # just grab first three alpha chars
        magic: IKY
    owncloud:
      admin_password: admpass
      db_password: ocpass
      passwordsalt: SouuqisgPeUOTHyisgPeUOTHy
    owncloud_mariadb:
      root_password: mqpass
    owncloud_redis:
      password: rspass
    petshop:
      dbi_password: petpass
    postgresql:
      postgres_password: pgpass

host: {}

#Local Variables:
#mode:yaml
#End:
