#!/bin/bash
#
# Run once by setup_dev.py
#
set -euo pipefail


_foss() {
    declare f
    for f in bivio-perl perl-Bivio; do
        f=$f-dev.rpm
        {{ rsconf_db.bash_curl_cmd }} -o "{{ rsconf_db.rpm_source_d }}/$f" https://depot.radiasoft.org/foss/"$f"
    done
    echo 'created by setup_dev.sh.jinja for {{ all_host }} only' > "{{ rsconf_db.proprietary_source_d }}/myapp-dev.tar.gz"
}

_main() {
    _ssh_keys
    _foss
    _opendkim
}

_opendkim() {
    rsconf opendkim gen_key '{{ host }}'
}

_root_install() {
    declare args=( "$@" )
    {% if unit_test %}
        declare d='{{ rsconf_db.root_d }}'
        {% raw %}
            install -m "${args[@]::${#args[@]}-1}" "$d${args[${#args[@]}-1]}"
        {% endraw %}
    {% else %}
        {% raw %}
            sudo install -o root -g root -m "${args[@]}"
        {% endraw %}
    {% endif %}
}

_ssh_keys() {
    declare key_f='{{ rsconf_db.secret_d }}/bkp_ssh_key'
    ssh-keygen -q -N '' -C '{{ master }}' -t ed25519 -f "$key_f"
    # Key is manually installed
    _root_install 700 -d /root/.ssh
    _root_install 400 "$key_f" /root/.ssh/id_ed25519
    rm -f "$key_f"
    declare pub_key_f="$key_f.pub"
    _root_install 400 "$pub_key_f" /root/.ssh/id_ed25519.pub
    declare pub_key="$(cat "$pub_key_f")"
    cat <<EOF > '{{ rsconf_db.secret_d }}/001.yml'
---
default:
  bkp:
    ssh_key: "$pub_key"
  rsconf:
    ssh_key: "$pub_key"
EOF
    rm -f "$pub_key_f"
}

_main "$@"
