AuthorizedKeysFile {{ mpi_cluster.sshd.AuthorizedKeysFile }}
HostKey {{ mpi_cluster.sshd.HostKey }}
ListenAddress {{ mpi_cluster.sshd.ListenAddress }}
PasswordAuthentication no
PermitTunnel no
PermitUserEnvironment no
PrintLastLog no
PrintMotd no
Protocol 2
UseDNS no
