#!/bin/bash
set -euo pipefail

# Easier to have these defined here when prototyping
start_ssh_port='{{ mpi_cluster.ssh_port }}'

start_tls_d='{{ mpi_cluster.docker_tls_d }}'

start_guest_d='{{ mpi_cluster.guest_d }}'

start_conf_guest_d=$start_guest_d/.rsmpiexec

start_image='{{ mpi_cluster.docker_image }}'

start_cname=rsmpiexec

start_workers=(
{% for w in mpi_cluster.workers %}
    '{{ w }}'
{% endfor %}
)

start_jupyterhub_user_d='{{ mpi_cluster.jupyterhub_user_d }}'

start_docker() {
    local host=$1
    shift
    local host_d=$1
    shift
    local tls_d=$start_tls_d/$host
    local docker=(
        docker
        --host=tcp://"$host":2376
        --tlsverify
        # POSIT: component.mpi_cluster uses same names
        --tlscacert="$tls_d"/cacert.pem
        --tlscert="$tls_d"/cert.pem
        --tlskey="$tls_d"/key.pem
    )
    "${docker[@]}" rm -f "$start_cname" || true
    local docker_run=(
        "${docker[@]}"
        run
        -d
        --log-driver=json-file
        --log-opt=max-size=1m
        --name="$start_cname"
        --network=host
        --rm
        --ulimit=core=0
        --ulimit=nofile=1024
        --user=vagrant
        -v "$host_d:$start_guest_d"
        "$start_image"
    )
    "${docker_run[@]}" "$@"
}

start_main() {
    local user=${1:-}
    if [[ ! $user ]]; then
        echo 'usage: bash start.sh <github-user>' 1>&2
        exit 1
    fi
    local run_u=$(stat -c %U "$start_jupyterhub_user_d")
    if [[ $USER != $run_u ]]; then
        echo "must be run as '$run_u'" 1>&2
        exit 1
    fi
    local worker
    local worker_d
    local worker_guest_d
    local prev_d=$PWD
    local ip
    local host_pub slots
    local -i total_slots=0
    local host_d=$start_jupyterhub_user_d/$user
    local conf_d=$host_d/.rsmpiexec
    # user part must exist
    rm -rf "$conf_d"
    mkdir -p "$conf_d"
    for worker in "${start_workers[@]}"; do
        worker_d=$conf_d/$worker
        worker_guest_d=$start_conf_guest_d/$worker
        mkdir -p "$worker_d"
        cd "$worker_d"
        ssh-keygen -t ed25519 -f ssh_host_ed25519_key -q -N '' -C "$worker"
        ssh-keygen -t ed25519 -f id_ed25519 -q -N '' -C "$worker"
        worker_pub=$(cat ssh_host_ed25519_key.pub)
        cat > sshd_config <<EOF
AuthorizedKeysFile $worker_guest_d/id_ed25519.pub
HostKey $worker_guest_d/ssh_host_ed25519_key
ListenAddress $worker:$start_ssh_port
PasswordAuthentication no
PermitTunnel no
PermitUserEnvironment no
PrintLastLog no
PrintMotd no
Protocol 2
UseDNS no
EOF
        cd "$prev_d"
        ip=$(dig +short "$worker")
        cat >> "$conf_d"/ssh_config <<EOF
Host $ip
    Port $start_ssh_port
    IdentityFile $worker_guest_d/id_ed25519
EOF
        cat >> "$conf_d"/known_hosts <<EOF
[$ip]:$start_ssh_port $worker_pub
EOF
        chmod -R go-rwx .
        start_docker "$worker" "$host_d" /usr/sbin/sshd -D -f "$worker_guest_d/sshd_config"
        slots=$(
            ssh -F "$conf_d"/ssh_config \
            -o IdentityFile="$worker_d"/id_ed25519 \
            -o UserKnownHostsFile="$conf_d"/known_hosts \
            "$ip" nproc
        )
        [[ $slots =~ ^[0-9]+$ ]]
        # ASSUME: hyperthreading so divide by two
        slots=$(( $slots / 2 ))
        total_slots+=$slots
        echo "$ip slots=$slots" >> "$conf_d"/mpi_hosts
    done
    install -m 550 /dev/stdin "$host_d"/rsmpiexec <<EOF
#!/bin/bash
set -euo pipefail

rsmpiexec_main() {
    if (( "\$#" < 3 )); then
        echo "usage: rsmpiexec -n $total_slots command..." 1>&2
        exit 1
    fi
    [[ -d ~/.ssh ]] || install -d -m 700 ~/.ssh
    install -m 600 $start_conf_guest_d/ssh_config ~/.ssh/config
    install -m 600 $start_conf_guest_d/known_hosts ~/.ssh/known_hosts
    exec mpiexec --hostfile "$start_conf_guest_d/mpi_hosts" "\$@"
}

rsmpiexec_main "\$@"
EOF
}

start_main "$@"
