#!/bin/bash
set -euo pipefail


dovecot_add_user() {
    doveadm pw -s '{{ dovecot.passdb_scheme }}'
# user:password:uid:gid:(gecos):home:(shell):extra_fields
    su - "$user" <<EOF
mkdir -m 700 -p {{ dovecot.user_mail_d }}
EOF

}

dovecot_main() {
}
