#!/bin/bash
set -euo pipefail
dev1=/dev/sde
dev2=/dev/sdf
key_f={{ bkp.monthly_key_f }}
umask 077
mdadm --create --verbose --metadata 1.2 /dev/md/monthly --level=1 --raid-devices=2 "$dev1" "$dev2"
# For testing, may want to restrict further
rm -rf /bkp/mirror/monthly
cp -al /bkp/mirror/current /bkp/mirror/monthly
echo 'Waiting to resync'
while mdadm --detail /dev/md/monthly | grep -i resyncing >& /dev/null; do
    # takes a very long time (hours) so don't poll too frequently
    sleep 300
done
#https://wiki.archlinux.org/index.php/Dm-crypt/Encrypting_an_entire_system
cryptsetup -y -v luksFormat --type luks2 /dev/md/monthly "$key_f"
cryptsetup open /dev/md/monthly monthly
mkfs -t xfs -n ftype=1 /dev/mapper/monthly
mkdir -p /bkp/monthly
# Just in case
umount /bkp/monthly >& /dev/null || true
mount /dev/mapper/monthly /bkp/monthly
chmod 700 /bkp/monthly
(
    # */* matches host.com/{var,etc,...} since these are
    # the first level to write
    cd /bkp/mirror/monthly && find */* -type d -print0
) | while IFS= read -r -d $'\0' src_d; do
    dst_d=/bkp/monthly/"$src_d"
    mkdir -p "$dst_d"
    if [[ ! $(find "/bkp/mirror/monthly/$src" -maxdepth 1 ! -type d) ]]; then
        continue
    fi
    (
        # Just dump the file in to the dir since we aren't prefixing with the dir name
        cd /bkp/mirror/monthly;
        find "$src" -maxdepth 1 ! -type d -print0 \
            | tar --create --null --files-from=- --file=-
    ) | pxz -T8 -9 > "$dst_d"/0.txz
done
umount /bkp/monthly
cryptsetup close monthly
sync
mdadm --stop /dev/md/monthly
