[Unit]
After=docker.service 
Description=sirepo_job_supervisor
Requires=docker.service

[Service]
ExecStart=/srv/sirepo_job_supervisor/start
ExecStartPre=/srv/sirepo_job_supervisor/remove
ExecStop=-/srv/sirepo_job_supervisor/stop
SyslogIdentifier=sirepo_job_supervisor
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
