# Copied from webhippie/mariadb, which ultimately doesn't allow you to override
# the one thing we need "port".
[client]
port = {{ owncloud_mariadb.port }}
# unused, but needs to exist
socket = /tmp/mysqld.sock

default-character-set = utf8

[mysqld]
port = {{ owncloud_mariadb.port }}
# unused, but needs to exist
socket = /tmp/mysqld.sock

# mariadb for docker
skip-host-cache
skip-name-resolve

character-set-server = utf8
collation-server = utf8_general_ci

skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 1M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M

tmpdir = /tmp

log-bin = mysql-bin
binlog_format = mixed

server-id = 1

innodb_data_home_dir = {{ owncloud_mariadb.db_d }}
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = {{ owncloud_mariadb.db_d }}
innodb_buffer_pool_size = 16M
innodb_log_file_size = 5M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
innodb_use_native_aio = 1

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
