/var/log/sa-update.log
{
    missingok
    notifempty
    monthly
    rotate 3
    postrotate
        systemctl restart spamd
    endscript
    # Ensure postrotate only runs once for all logs
    sharedscripts
}
