#!/bin/bash
set -eu -o pipefail
sa-update
local_cf="$( (ls /var/lib/spamassassin/[1-9]*/updates_spamassassin_org/local.cf || true) | tail -1)"
if [[ -z $local_cf ]; then
    echo 'Unable to find /var/lib/spamassassin/[1-9]*/updates_spamassassin_org/local.cf' 1>&2
    exit 1
fi
cat > "$local_cf" <<'EOF'
report_safe 0
use_bayes 0
skip_rbl_checks 0
skip_uribl_checks 1
score FH_DATE_PAST_20XX 0
score FREEMAIL_FORGED_REPLYTO 0
score RDNS_NONE 0
internal_networks {% for x in iptables_our_networks -%} {{ x }} {%- endfor %}
trusted_networks {% for x in iptables_our_networks -%} {{ x }} {%- endfor %}
score __RCVD_IN_ZEN 0
score RCVD_IN_SBL 0
score RCVD_IN_XBL 0
score RCVD_IN_PBL 0
score RCVD_IN_SBL_CSS 0
score URIBL_SBL 0
score URIBL_DBL_SPAM 0
score URIBL_DBL_REDIR 0
score URIBL_DBL_PHISH 0
score URIBL_DBL_MALWARE 0
score URIBL_DBL_BOTNETCC 0
score URIBL_DBL_ABUSE_SPAM 0
score URIBL_DBL_ABUSE_REDIR 0
score URIBL_DBL_ABUSE_PHISH 0
score URIBL_DBL_ABUSE_MALW 0
score URIBL_DBL_ABUSE_BOTCC 0
score URIBL_DBL_ERROR 0
EOF
cd /var/lib/spamd
exec /bin/spamd \
    --allowed-ips 0.0.0.0/0 \
    --ipv4-only \
    --listen=127.0.0.1 \
    --max-children=3 \
    --nouser-config \
    --port={{ spamd_port }}
