#!/bin/bash
# Pyzor, etc. need a $HOME so --helper-home-dir
exec /bin/spamd \
    --daemonize \
    --helper-home-dir='{{ systemd.run_d }}' \
    --max-children=3 \
    --nouser-config \
    --pidfile='{{ systemd.pid_file }}' \
    --socketpath='{{ spamd.socket_path }}'
