# https://infrastructure.fedoraproject.org/csi/security-policy/en-US/html/HostGeneralSecurity-Standard-Sysctl.html
# CSI Compliance
net.ipv4.conf.all.accept_redirects = 0
net.ipv4.conf.all.accept_source_route = 0
net.ipv4.conf.all.log_martians = 1
net.ipv4.conf.all.secure_redirects = 0
net.ipv4.conf.all.send_redirects = 0
net.ipv4.conf.default.accept_redirects = 0
net.ipv4.conf.default.accept_source_route = 0
net.ipv4.conf.default.log_martians = 1
net.ipv4.conf.default.secure_redirects = 0
net.ipv4.conf.default.send_redirects = 0
net.ipv4.icmp_echo_ignore_broadcasts = 1
net.ipv4.icmp_ignore_bogus_error_responses = 1

# http://www.cs.princeton.edu/~jns/security/iptables/
kernel.sysrq = 0
net.ipv4.conf.all.accept_redirects = 0
net.ipv4.conf.all.log_martians = 1
net.ipv4.conf.default.accept_source_route = 0
net.ipv4.icmp_echo_ignore_broadcasts = 1
net.ipv4.icmp_ignore_bogus_error_responses = 1
net.ipv4.ip_forward = {{ base_os.ip_forward | int }}
net.ipv4.tcp_syncookies = 1
net.ipv4.tcp_syncookies = 1

#TODO(robnagler) Not sure if this needs to be here. On one VM, /proc/sys/net/ipv6
# disappeared completely after boot with new initrd. On another, it didn't.
# See base_os/main.sh.jinja
net.ipv6.conf.all.disable_ipv6=1
net.ipv6.conf.default.disable_ipv6=1

# Useful for postgres, but not totally necessary
kernel.msgmnb = 65536
kernel.msgmax = 65536

# https://github.com/moby/moby/pull/34886
fs.may_detach_mounts = 1
