#!/bin/bash

#TODO(robnagler) sshd
# /etc/ssh/sshd_config
# ClientAliveInterval 180
# ClientAliveCountMax 3

base_os_chrony() {
    if ! base_os_if_virtual_box; then
        # only needed for VirtualBox
        return
    fi
    systemctl stop chronyd
    systemctl disable chronyd
}

base_os_if_virtual_box() {
    local x=$(dmidecode -s system-product-name 2>/dev/null)
    [[ $x =~ VirtualBox || -f /vagrant/Vagrantfile ]]
}

base_os_journal_persist() {
    # https://unix.stackexchange.com/a/159390
    local d=/var/log/journal
    if [[ -d $d ]]; then
        return
    fi
    rsconf_install_access 700 root root
    rsconf_install_directory "$d"
    systemd-tmpfiles --create --prefix "$d"
    rsconf_service_trigger_restart systemd-journald
}

base_os_logical_volume() {
    local name=$1 gigabytes=$2 vg=$3 mount_d=$4
    local dev="/dev/mapper/$vg-$name"
    local x=$(lvs --units g --no-headings -o lv_size "$dev" 2>/dev/null)
    if ! grep -s -q  /etc/fstab; then
        rsconf_edit_no_change_res=0 rsconf_append /etc/fstab "^$dev " "$dev $mount_d xfs defaults 0 0"
    fi
    if [[ $x =~ ([0-9]+)(\.[0-9]+)?g ]]; then
        local actual=${BASH_REMATCH[1]}
        # Account for the truncation and a little slop
        if (( $actual + 2 >= $gigabytes )); then
            return
        fi
        # -y: wipe signatures
        lvextend -y -L "${gigabytes}G" "$dev"
        # xfs_group requires a mounted file system
        if ! mountpoint "$mount_d"; then
            mount "$mount_d"
        fi
        xfs_growfs "$dev"
        return
    fi
    lvcreate -y --wipesignatures y -L "${gigabytes}G" -n "$name" "$vg"
    mkfs -t xfs -n ftype=1 "$dev"
    # the component that sets mount_d will set the permissions and owner
    mkdir -p "$mount_d"
    mount "$mount_d"
}

base_os_logical_volumes() {
    if base_os_if_virtual_box && lvs /dev/mapper/docker-vps >& /dev/null; then
        # vagrant persistent_storage plugin creates an LV in the VG so need to
        # remove it if it exists.
        lvremove -f /dev/mapper/docker-vps
    fi
    {{ base_os.logical_volume_cmds }}
}

base_os_logrotate() {
    # These don't have sensible defaults. See our logrotate.conf.jinja
    rm -f /etc/logrotate.d/{bootlog,yum}
    if [[ -e /etc/logrotate.d/nginx ]]; then
        # This retention policy should be global
        rsconf_edit_no_change_res=0 rsconf_edit /etc/logrotate.d/nginx '#rotate' \
            's/\brotate/#rotate/'
    fi
    # Must exist for logrotate.conf.jinja to export and rotate the journal
    if [[ ! -e /var/log/journal.export ]]; then
        install -m 600 -o root -g root /dev/null /var/log/journal.export
    fi
}

base_os_main() {
    rsconf_radia_run_as_user root redhat-base
    if [[ ! -d {{ rsconf_db.host_run_d }} ]]; then
        mkdir -p {{ rsconf_db.host_run_d }}
        chmod 755 {{ rsconf_db.host_run_d }}
    fi
    local i
    if [[ -e /proc/sys/net/ipv6/conf/all/disable_ipv6 ]]; then
        i=$(sysctl -n net.ipv6.conf.all.disable_ipv6)
        if [[ -z $i ]]; then
            install_err 'sysctl net.ipv6.conf.all.disable_ipv6: failed'
        fi
    else
        # Once disabled at the kernel init level, you can't query net.ipv6 at all
        i=1
    fi
    local reboot=
    rsconf_install_access 400 root root
    rsconf_install_file /etc/sysctl.d/60-rsconf-base.conf
#TODO(robnagler) return result to test install?
    sysctl -q -p --system
    if (( $i == 0 )); then
        # Need to disable ipv6 for rpcbind and Python 3's ssl library seems to want
        # to try ipv6, and if it can't get it, it dies.
        reboot=1

        # https://access.redhat.com/solutions/8709
        # Must be done first time
        install_info 'Rebuilding initrd to disable ipv6'
        # Not bothering with backup, because this only happens once after fresh
        # restart.
        sysctl -w net.ipv6.conf.all.disable_ipv6=1 net.ipv6.conf.default.disable_ipv6=1
        dracut -f
    fi
    # https://access.redhat.com/solutions/8709
    # breaks SSH Xforwarding unless AddressFamily inet is set in sshd_config
    # idempotent so ok to repeat and the file might get updated with a new release.
    rsconf_edit_no_change_res=0 rsconf_edit /etc/ssh/sshd_config ^AddressFamily.inet \
        's{^#(AddressFamily) any}{$1 inet}'
    rsconf_edit_no_change_res=0 rsconf_edit /etc/ssh/sshd_config ^PermitRootLogin.without \
        's{^#(PermitRootLogin) .*}{$1 without-password}'
    base_os_rpcbind_patch
#TODO(robnagler) consider permissive on back end and enforcing on front end
    if rsconf_edit /etc/selinux/config ^SELINUX=disabled \
        's{(?<=^SELINUX=).*}{disabled}'; then
        reboot=1
    fi
    base_os_chrony
    base_os_journal_persist
    rsconf_edit_no_change_res=0 rsconf_append /etc/screenrc 'escape ^^^^'
    base_os_logical_volumes
    base_os_logrotate
    if [[ -n $reboot ]]; then
        rsconf_reboot
    fi
}

base_os_rpcbind_patch() {
    # Binding to IPv6 address not available since kernel does not support IPv6.
    # https://bugzilla.redhat.com/show_bug.cgi?id=1402961
    local old=/usr/lib/systemd/system/rpcbind.socket
    if [[ ! -e $old ]]; then
        return
    fi
    local new=/etc/systemd/system/rpcbind.socket
    if [[ ! -r "$new" || $old -nt $new ]]; then
        cp -a "$old" "$new"
    fi
    if rsconf_edit "$new" '! BindIPv6Only' 'm{\[::\]:|BindIPv6Only} && ($_=q{})'; then
        systemctl daemon-reload
        rsconf_service_trigger_restart rpcbind.socket
    fi
}
