#!/bin/bash

#TODO(robnagler) sshd
# /etc/ssh/sshd_config
# ClientAliveInterval 180
# ClientAliveCountMax 3

base_os_chrony() {
    if [[ ! -f /vagrant/Vagrantfile ]]; then
        # only needed for vagrant
        return
    fi
    systemctl stop chronyd
    systemctl disable chronyd
}

base_os_iptables() {
    if [[ $(systemctl is-active iptables 2>&1 || true) == active ]]; then
        # Just in case, make sure enabled
        systemctl enable iptables
    fi
    systemctl stop firewalld >& /dev/null || true
    systemctl disable firewalld >& /dev/null || true
    # https://stackoverflow.com/a/24827438/3075806
    yum install -y iptables-services >& /dev/null || true
    systemctl enable iptables
    systemctl start iptables
}

base_os_journal_persist() {
    # https://unix.stackexchange.com/a/159390
    local d=/var/log/journal
    if [[ -d $d ]]; then
        return
    fi
    rsconf_install_access 700 root root
    rsconf_install_file "$d"
    systemd-tmpfiles --create --prefix "$d"
    systemctl restart systemd-journald
}

base_os_main() {
    rsconf_radia_run_as_user root redhat-base
    local i=$(sysctl -n net.ipv6.conf.all.disable_ipv6)
    local reboot=
    rsconf_install_access 400 root root
    rsconf_install_file /etc/sysctl.d/60-rsconf-base.conf
#TODO(robnagler) return result to test install?
    sysctl -p --system
    if (( $i == 0 )); then
        reboot=1
        # https://access.redhat.com/solutions/8709
        # Must be done first time
        install_info 'Rebuilding initrd to disable ipv6'
        # Not bothering with backup, because this only happens once after fresh
        # restart.
        dracut -f
    fi
    # https://access.redhat.com/solutions/8709
    # breaks SSH Xforwarding unless AddressFamily inet is set in sshd_config
    # idempotent so ok to repeat and the file might get updated with a new release.
    rsconf_edit /etc/ssh/sshd_config ^AddressFamily.inet \
        's{^#(AddressFamily) any}{$1 inet}' || true
    # Binding to IPv6 address not available since kernel does not support IPv6.
    # https://bugzilla.redhat.com/show_bug.cgi?id=1402961
    if rsconf_edit /usr/lib/systemd/system/rpcbind.socket '! BindIPv6Only' \
        'm{\[::\]:|BindIPv6Only} && ($_ = q{})'; then
        systemctl daemon-reload
        systemctl restart rpcbind.socket
    fi
#TODO(robnagler) consider permissive on back end and enforcing on front end
    if rsconf_edit /etc/selinux/config ^SELINUX=disabled \
        's{(?<=^SELINUX=).*}{disabled}'; then
        reboot=1
    fi
    base_os_chrony
    base_os_journal_persist
    ###base_os_iptables
    if [[ -n $reboot ]]; then
        rsconf_reboot
    fi
}
