#!/bin/bash
set -x
set -e -o pipefail
cd "$(dirname "${BASH_SOURCE[0]}")"
if [[ -r nginx.pid ]]; then
    kill -QUIT "$(cat nginx.pid)"
fi
echo 'Ignore alert "/var/log/nginx/error.log"' 1>&2
exec nginx -p "$PWD" -c nginx.conf
