#!/bin/bash
set -euo pipefail
if [[ ! -r ~/src/yum ]]; then
    echo 'You need to run:

cd ~/src/radiasoft/download/installers/rpm-code
bash dev-setup.sh
'
    exit 1
fi
if [[ ! -r {{ srv_d }}/yum ]]; then
    ln -s -r ~/src/yum '{{ srv_d }}/yum'
fi
if [[ ! -r {{ srv_d }}/index.sh ]]; then
    ln -s radiasoft/download/bin/index.sh '{{ srv_d }}'
fi
cd "$(dirname "${BASH_SOURCE[0]}")"
if [[ -r nginx.pid ]]; then
    kill -QUIT "$(cat nginx.pid)" || true
fi
echo 'Ignore alert "/var/log/nginx/error.log"' 1>&2
exec nginx -p "$PWD" -c nginx.conf
