[Unit]
After=docker.service docker.service
Description=docker_registry
Requires=docker.service

[Service]
ExecStart=/srv/docker_registry/start
ExecStartPre=/srv/docker_registry/remove
ExecStop=-/srv/docker_registry/stop
SyslogIdentifier=docker_registry
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
