[Unit]
Description=logrotate

[Service]
Environment=TZ=:/etc/localtime
ExecStart=/srv/logrotate/start
Group=root
SyslogIdentifier=logrotate
Type=oneshot
User=root
