---
default:
  sirepo:
    pkcli:
      service_processes: 1
      service_threads: 20
      service_port: 7000
    oauth:
      github_key: ""
      github_secret: ""
    server:
      oauth_login: false

channel:
  {{ channel }}:
    sirepo:
      mpi.cores: 2
      celery_tasks.broker_url: "amqp://guest@{{ host }}//"

host:
  {{ channel }}:
    {{ host }}:
      components: [ sirepo ]
