---
default:
  base_os:
    ip_forward: false
  celery_sirepo:
    queues: "sequential,parallel"
  docker:
    iptables: true
  docker_registry:
    host: {{ master }}
  nginx:
    worker_processes: 1
  petshop:
    docker_image: biviosoftware/bivio
    http_host: petshop.{{ host }}
    mail_host: petshop.{{ host }}
    listen_base: 8114
    cookie_tag: PSD
    can_secure: false
    perl_root: Bivio::PetShop
    num_servers: 4
    # bivio.biz /var/www/facades/bivio.biz/plain/f/bOP/lib
    # default /var/www/html
    source_code_dir: /var/www/facades/petshop/plain/s
    vhost_common:
      # Only for test
      host_suffix: {{ host }}
    vhosts:
      - facade_uri: petshop
        mail_host: petshop
      - facade_uri: beforeother
      - facade_uri: m.petshop
      - facade_uri: other
      - facade_uri: requiresecure
  postgresql:
    # https://wiki.postgresql.org/wiki/Tuning_Your_PostgreSQL_Server#effective_cache_size
    effective_cache_size: 244MB
    # https://wiki.postgresql.org/wiki/Tuning_Your_PostgreSQL_Server#shared_buffers
    # "If you have a system with 1GB or more of RAM, a reasonable
    # starting value for shared_buffers is 1/4 of the memory in your system."
    shared_buffers: 122MB
    auth_local_method: md5
  sirepo:
    pkcli:
      service_processes: 1
      service_threads: 20
      service_port: 7000
    oauth:
      github_key: ""
      github_secret: ""
    server:
      oauth_login: false
  bop:
    server_status_location: /bop-status
    is_production: false
    bconf_aux: ''
    apps: [ petshop ]

channel:
  dev:
    base_os:
      ip_forward: true
    postgresql:
      auth_local_method: trust
      postgres_password: pgpass
    petshop:
      nginx:
        vhost: petshop.{{ host }}
    sirepo:
      celery_tasks:
        celeryd_concurrency: 1
        broker_url: "amqp://guest@{{ host }}//"
      mpi.cores: 2
      nginx:
        vhost: {{ host }}
        want_tls: true

host:
  dev:
    {{ host }}:
      rsconf_db_components: [ rabbitmq, celery_sirepo, sirepo, bop ]
    {{ master }}:
      rsconf_db_components: [ docker_registry ]

#Local Variables:
#mode:yaml
#End:
