---
default:
  base_os:
    ip_forward: false
  docker:
    iptables: true
  docker_registry:
    tls_base: docker_registry
  celery_sirepo:
    queues: "sequential,parallel"
  nginx:
    worker_processes: 1
  sirepo:
    pkcli:
      service_processes: 1
      service_threads: 20
      service_port: 7000
    oauth:
      github_key: ""
      github_secret: ""
    server:
      oauth_login: false

channel:
  {{ channel }}:
    base_os:
      ip_forward: true
    sirepo:
      celery_tasks:
        celeryd_concurrency: 1
        broker_url: "amqp://guest@{{ host }}//"
      mpi.cores: 2
      nginx:
        vhost: {{ host }}
        ssl_base: sirepo

host:
  {{ channel }}:
    {{ host }}:
      rsconf_db_components: [ sirepo ]
