{# assumes docker --network=host #}
Listen 127.0.0.1:{{ owncloud.port }}
<VirtualHost 127.0.0.1:{{ owncloud.port }}>
  ServerAdmin webmaster@{{ owncloud.domain }}
  DocumentRoot /var/www/owncloud

  ErrorLog {{ owncloud.log_d }}/error.log
  CustomLog {{ owncloud.log_d }}/access.log combined

  <Directory /var/www/owncloud>
    AllowOverride All
    Options -Indexes +FollowSymlinks

    <IfModule mod_dav.c>
      Dav off
    </IfModule>

    SetEnv HOME /var/www/owncloud
    SetEnv HTTP_HOME /var/www/owncloud
  </Directory>

  <IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=15768000; preload"
  </IfModule>
</VirtualHost>
