export HOME=/var/www
export LANG=C
export APACHE_RUN_USER={{ owncloud.run_u }}
export APACHE_RUN_GROUP={{ owncloud.run_u }}
export APACHE_PID_FILE={{ owncloud.apache_run_d }}/apache2.pid
export APACHE_RUN_DIR={{ owncloud.apache_run_d }}
export APACHE_LOCK_DIR={{ owncloud.apache_run_d }}
export APACHE_LOG_DIR={{ owncloud.log_d }}
