#!/bin/bash
set -eou pipefail
docker exec '{{ systemd.service_name }}' mysqldump \
    -h '{{ owncloud.db_ip }}' \
    -P '{{ owncloud_mariadb.port }}' \
    -u '{{ owncloud.db_user }}' \
    -p'{{ owncloud.db_password }}' \
    '{{ owncloud.db_name }}' | \
    {{ rsconf_db.compress_cmd }} > owncloud.sql.xz
