server {
    listen {{ nginx.vhost }}:80;
    server_name {{ nginx.vhost }};
    return 301 https://{{ nginx.vhost }}$request_uri;
}

server {
    listen {{ nginx.vhost }}:443 ssl;
    server_name {{ nginx.vhost }};
    root {{ nginx.default_root }};
    ssl_certificate {{ nginx.tls_crt }};
    ssl_certificate_key {{ nginx.tls_key }};
    client_max_body_size 100m;
    location / {
        proxy_pass http://{{ nginx.backend_host }}:{{ nginx.backend_port }};
   }
}
