#!/bin/bash
set -euo pipefail
# need to erase bids, locks, etc.
rm -rf '{{ owncloud.apache_run_d }}'
mkdir -m 700 '{{ owncloud.apache_run_d }}'
if [[ ! -e '{{ owncloud.conf_f }}' ]]; then
    install -m 600 '{{ owncloud.init_conf_f }}' '{{ owncloud.conf_f }}'
    occ maintenance:install --no-interaction \
        --admin-user '{{ owncloud.admin_user }}' \
        --admin-pass '{{ owncloud.admin_password }}'
fi
export APACHE_CONFDIR=/etc/apache2
export APACHE_ENVVARS=$APACHE_CONFDIR/envvars
source "$APACHE_ENVVARS"
apache2 -t
exec apache2 -DFOREGROUND
