[Unit]
Description=db_bkp

[Service]
Environment=TZ=:/etc/localtime
ExecStart=/srv/db_bkp/start
Group=root
SyslogIdentifier=db_bkp
Type=oneshot
User=root

[Install]
WantedBy=multi-user.target
