[Unit]
After=docker.service 
Description=sirepo_test_http
Requires=docker.service

[Service]
ExecStart=/srv/sirepo_test_http/start
ExecStartPre=/srv/sirepo_test_http/remove
ExecStop=-/srv/sirepo_test_http/stop
Type=oneshot
SyslogIdentifier=sirepo_test_http

[Install]
WantedBy=multi-user.target
