server {
    listen {{ nginx.vhost }}:80;
    server_name {{ nginx.vhost }};
    return 301 https://{{ nginx.vhost }}$request_uri;
}

server {
    listen {{ nginx.vhost }}:443 ssl;
    server_name {{ nginx.vhost }};
    root {{ nginx.default_root }};
    ssl_certificate {{ nginx.tls_crt }};
    ssl_certificate_key {{ nginx.tls_key }};
    location / {
        allow all;
        include uwsgi_params;
        client_max_body_size 50m;
        uwsgi_read_timeout 300s;
        uwsgi_send_timeout 300s;
        uwsgi_pass {{ nginx.backend_host }}:{{ nginx.backend_port }};
    }
}
