server {
    listen {{ nginx.vhost }}:80;
    server_name {{ nginx.vhost }};
    return 301 https://{{ nginx.vhost }}$request_uri;
}

server {
    listen {{ nginx.vhost }}:443 ssl;
    server_name {{ nginx.vhost }};
    root {{ nginx.default_root }};
    ssl_certificate {{ nginx.tls_crt }};
    ssl_certificate_key {{ nginx.tls_key }};
    client_max_body_size {{ sirepo.client_max_body_size }};

    location / {
        allow all;
        include uwsgi_params;
        uwsgi_read_timeout 300s;
        uwsgi_send_timeout 300s;
        uwsgi_pass {{ nginx.backend_host }}:{{ nginx.backend_port }};
    }
{% if sirepo.wordpress_host %}
{# legacy redirects #}
    location /en/xray-beamlines.html {
        return 301 /en/apps/x-ray-beamlines;
    }
    location /en/particle-accelerators.html {
        return 301 /en/apps/particle-accelerators;
    }
    location ~ ^/(wp-content|en)/ {
        proxy_set_header Host {{ sirepo.wordpress_host }};
        proxy_pass https://{{ sirepo.wordpress_host }};
    }
{% endif %}
{% if sirepo.jupyterhub_enabled %}
    location /{{ sirepo_jupyterhub.uri_root }}/hub/logout {
        return 302 /auth-logout;
    }
    location /{{ sirepo_jupyterhub.uri_root }}/ {
        proxy_pass http://{{ sirepo_jupyterhub.hub_ip }}:{{ sirepo_jupyterhub.configurable_http_proxy_port }};
    }
{% endif %}
}
