#!/bin/bash
set -eou pipefail

static_files_gen_do() {
    declare nginx_d=$1
    # POSIT: mounted inside the container and writable
    declare d='{{ sirepo._static_files_gen_d }}'
    rm -rf "$d"
    mkdir -p "$d"
    {{ systemd.start }} sirepo static_files_gen "$d"
    chown -R {{ sirepo.run_u }}: "$d"
    find "$d" -type d -print0 | xargs -0 chmod 711
    find "$d" -type f -print0 | xargs chmod 444
    static_files_gen_mv "$nginx_d" "$d"
}

static_files_gen_main() {
    declare nginx_d='{{ sirepo._static_files_nginx_d }}'
    if [[ ${static_files_gen_force:+1} || ! -d $nginx_d ]]; then
        static_files_gen_do "$nginx_d"
    fi
}

static_files_gen_mv() {
    declare nginx_d=$1
    declare gen_d=$2
    declare t=$nginx_d.tmp
    declare o=$nginx_d.old
    rm -rf "$t" "$o"
    # Move to same file system so the move in place are fast and atomic
    mv "$d" "$t"
    mv "$nginx_d" "$o"
    mv "$t" "$nginx_d"
    rm -rf "$o"
}
