server {
    listen {{ nginx.listen_ip }}:80;
    server_name {{ nginx.vhost }};
    return 301 https://{{ nginx.vhost }}$request_uri;
}

upstream sirepo_api {
    least_conn;
    {% for p in range(sirepo._first_port, sirepo._last_port + 1) %}
    server {{ sirepo.pkcli.service.ip }}:{{ p }};
    {% endfor %}
}

server {
    listen {{ nginx.listen_ip }}:443 ssl;
    root {{ sirepo._static_files_nginx_d }};
    server_name {{ nginx.vhost }};
    ssl_certificate {{ nginx.tls_crt }};
    ssl_certificate_key {{ nginx.tls_key }};
    client_max_body_size {{ sirepo.client_max_body_size }};
    error_page 502 503 {{ sirepo._maintenance_uri }};

    # Only one try on requests. The servers are either busy or not.
    proxy_next_upstream off;

    location / {
        allow all;
        proxy_pass http://sirepo_api;
    }
    location /static/ {
        expires {{ sirepo.static_files_expires }};
        add_header Cache-Control "public";
        try_files $uri =404;
    }
    location /static/html {
        allow all;
        proxy_pass http://sirepo_api;
    }
    location = /favicon.ico {
        rewrite (.*) /static/img/favicon.ico;
    }
    location = /favicon.png {
        rewrite (.*) /static/img/favicon.png;
    }
    location = /robots.txt {
        rewrite (.*) /static/robots.txt;
    }
    location = /security.txt {
        rewrite (.*) /static/security.txt;
    }
{% if sirepo.wordpress_host %}
{# legacy redirects #}
    location = /en/xray-beamlines.html {
        return 301 /en/apps/x-ray-beamlines/;
    }
    location = /en/particle-accelerators.html {
        return 301 /en/apps/particle-accelerators/;
    }
    location = /en/landing.html {
        return 301 /en/;
    }
    location = /en/terms.html {
        return 301 /en/terms/;
    }
    location = /en/privacy.html {
        return 301 /en/privacy/;
    }
    location = /en/plans.html {
        return 301 /en/plans/;
    }
    location ~ ^/(wp-login\.php$|(wp-(admin|content|includes)|en)(/|$)) {
        proxy_pass https://{{ sirepo.wordpress_host }};
    }
{% endif %}
{% if sirepo.jupyterhub_enabled %}
    location = /{{ sirepo_jupyterhub.uri_root }}/hub/logout {
        return 302 /auth-logout;
    }
    location /{{ sirepo_jupyterhub.uri_root }}/ {
        proxy_pass http://{{ sirepo_jupyterhub.hub_ip }}:{{ sirepo_jupyterhub.configurable_http_proxy_port }};
    }
{% endif %}
}
