#!/bin/bash

postfix_local_host_names=/etc/postfix/local-host-names
postfix_main_cf=/etc/postfix/main.cf
postfix_master_cf=/etc/postfix/master.cf

postfix_main() {
    rsconf_file_hash_save "$postfix_main_cf"
    # https://codinfox.github.io/dev/2015/04/08/postfix-cannot-start/
    rsconf_yum_install procmail
    if [[ ! -e $postfix_local_host_names ]]; then
        rsconf_install_access 644 root root
        rsconf_install_file /dev/null "$postfix_local_host_names"
    fi
    local x=(
        # https://help.ubuntu.com/community/PostfixGreylisting
        biff=no
        inet_interfaces=all
        inet_protocols=ipv4
        local_recipient_maps=
        mailbox_command='/usr/bin/procmail -t -Y -a "$EXTENSION" -d "$USER"'
        mailbox_size_limit=0
        message_size_limit=50000000
        mydestination="\$myhostname,localhost,$postfix_local_host_names"
        mydomain='{{ postfix.mydomain }}'
        myhostname='{{ postfix.myhostname }}'
        mynetworks=127.0.0.0/8
        myorigin='{{ postfix.myorigin }}'
        recipient_delimiter=+
        smtp_tls_CAfile=/etc/pki/tls/certs/ca-bundle.crt
        smtp_tls_cert_file='{{ postfix.tls_cert_file }}'
        smtp_tls_key_file='{{ postfix.tls_key_file }}'
        smtp_tls_security_level=may
        smtpd_banner='$myhostname ESMTP'
        {% if rsconf_db.channel != 'dev' %}
        smtpd_client_restrictions='sleep 8'
        {% endif %}
        smtpd_data_restrictions=reject_unauth_pipelining
        {#
           avoid toggling smtpd_delay_reject (in postfix_setup_sasl) which
           would cause an unnecessary restart
        #}
        {% if not 'sasl_users_flattened' in postfix %}
            smtpd_delay_reject=no
        {% endif %}
        smtpd_helo_restrictions=reject_unknown_helo_hostname
        smtpd_recipient_restrictions='reject_unauth_pipelining,permit_mynetworks,permit_sasl_authenticated,reject_unauth_destination,reject_non_fqdn_recipient,reject_unknown_recipient_domain,check_policy_service inet:127.0.0.1:{{ postgrey.port }}'
        smtpd_relay_restrictions=permit_mynetworks,permit_sasl_authenticated,reject_unauth_destination
        smtpd_sender_restrictions=reject_unauth_pipelining,permit_mynetworks,reject_non_fqdn_sender,reject_unknown_sender_domain
        smtpd_tls_CAfile=/etc/pki/tls/certs/ca-bundle.crt
        smtpd_tls_cert_file='{{ postfix.tls_cert_file }}'
        smtpd_tls_key_file='{{ postfix.tls_key_file }}'
        smtpd_tls_security_level=may
    )
    postconf -e "${x[@]}"
    local rsconf_edit_no_change_res=0
    rsconf_edit "$postfix_master_cf" \
        '^smtp.*inet.*200.*smtpd$' 's{^smtp\s+inet.*}{smtp       inet  n       -       n       -       200       smtpd}'
    {% if 'sasl_users_flattened' in postfix %}
        postfix_setup_sasl
    {% endif %}
    {% if 'virtual_alias_f' in postfix %}
        postfix_setup_virtual_aliases
    {% endif %}
    # never hurts
    newaliases
    rsconf_file_hash_check "$postfix_main_cf"
}

postfix_setup_bop() {
    local mail_domains=( "$@" )
    rsconf_file_hash_save "$postfix_main_cf"
    # https://janikarhunen.fi/tackle-spam-with-spamassassin-on-centos7-and-postfix.html
    # http://forums.sentora.org/showthread.php?tid=1118
    postconf -e \
        'mailbox_transport=bsendmailhttp:unix' \
        'smtpd_timeout=${stress?12}${stress:300}' \
        'smtpd_hard_error_limit=${stress?1}${stress:20}' \
	'bsendmailhttp_destination_recipient_limit=1'
    rsconf_file_hash_check "$postfix_main_cf"
    local rsconf_edit_no_change_res=0
    rsconf_edit "$postfix_master_cf" \
        '^local.*8' 's{^local\s.*}{local     unix  -       n       n       -       8       local}'
    #TODO(20180501) remove this
    rsconf_edit "$postfix_master_cf" \
        '! ^bsendmailhttp.*/usr/bin/b-sendmail-http' 's{^bsendmailhttp.*\n}{}'
    rsconf_append "$postfix_master_cf" \
        'bsendmailhttp unix  -       n       n       -       2       pipe flags=DRhu user=nobody:nobody argv=/usr/bin/b-spamc-http ${client_address} ${recipient} localhost.localdomain:80/_mail_receive/%s /bin/false unused-param'
    local h
    for h in "${mail_domains[@]}"; do
        rsconf_append "$postfix_local_host_names" "$h"
    done
}

postfix_setup_btest() {
    local rsconf_edit_no_change_res=0
    local mail_domains=( "$@" )
    for h in "${mail_domains[@]}"; do
        rsconf_append "$postfix_local_host_names" "$h"
    done
}

{% if 'sasl_users_flattened' in postfix %}
postfix_setup_sasl() {
    {# To debug:
    # 	postconf -e 'smtpd_tls_loglevel = 3' 'debug_peer_list = 127.0.0.1'
    #	service postfix restart
    #
    #   saslpasswd2 -c -u v3.radia.run testuser
    #   chown root:mail /etc/sasldb2
    #   chmod 640 /etc/sasldb2
    #   printf '\0%s\0%s' 'test1@v3.radia.run' 'testpass' | openssl base64
    #   AHRlc3R1c2VyQGJpdmlvLmJpegB0ZXN0cGFzcw==
    #
    #   openssl s_client -starttls smtp -connect localhost:587
    #   You should see a long output:
    #   ....
    #   250 DSN
    #
    #	Then enter:
    #	EHLO localhost.localdomain
    #   AUTH PLAIN AHRlc3QxQHYzLnJhZGlhLnJ1bgB0ZXN0cGFzcw==
    #
    #   You'll see:
    #   235 2.7.0 Authentication successful
    #
    #	Can try:
    #   VRFY test1@v3.radia.run
    #
    # db_dump -p /etc/sasldb2
    # regenerate sasl_users:
    # db_dump -p /etc/sasldb2 | perl -n -e 's{ ([^\\]+)\\00([^\\]+).*user}{} && print "$1\@$2: "; m{ (\S{10,24})} && print "$1\n"'
    #}
    rsconf_yum_install cyrus-sasl cyrus-sasl-plain
    postconf -e smtpd_sasl_path=smtpd-sasldb smtpd_delay_reject=yes
    local rsconf_edit_no_change_res=0
    rsconf_edit "$postfix_master_cf" \
        '^submission' 's{^#submission.*}{submission inet n       -       n       -       -       smtpd -o smtpd_sasl_auth_enable=yes -o smtpd_tls_auth_only=yes -o smtpd_tls_security_level=encrypt -o smtpd_recipient_restrictions=permit_sasl_authenticated,reject -o smtpd_client_restrictions=permit_sasl_authenticated,reject}'
    {% for u in postfix.sasl_users_flattened %}
        echo '{{ u.password }}' | saslpasswd2 -c -p -u '{{ u.domain }}' '{{ u.user }}'
    {% endfor %}
    chown root:mail /etc/sasldb2
    chmod 640 /etc/sasldb2
}
{% endif %}

{% if 'virtual_alias_f' in postfix %}
postfix_setup_virtual_aliases() {
    {#
     # DEBUG: postmap -s hash:/etc/postfix/virtual_alias
    #}
    postconf -e virtual_alias_maps=hash:'{{ postfix.virtual_alias_f }}' \
        virtual_alias_domains='{{ postfix.virtual_alias_domains_f }}'
    postmap -i -r hash:'{{ postfix.virtual_alias_f }}' < '{{ postfix.virtual_alias_f }}'
}
{% endif %}

# Testing email
true <<'EOF2'
/usr/sbin/sendmail fourem@petshop.v4.radia.run <<'EOF'
To: fourem@petshop.v4.radia.run
Subject: testing 123
From: vagrant+btest_btest_admin@v4.radia.run

test
EOF
EOF2
