#!/bin/bash

postfix_local_host_names=/etc/postfix/local-host-names

postfix_main() {
    rsconf_file_hash_save /etc/postfix/main.cf
    # https://codinfox.github.io/dev/2015/04/08/postfix-cannot-start/
    rsconf_yum_install procmail
    if [[ ! -e $_postfix_local_host_names ]]; then
        rsconf_install_access 644 root root
        rsconf_install_file "$postfix_local_host_names" /dev/null
    fi
    local x=(
	inet_interfaces=all
	inet_protocols=ipv4
	'mailbox_command=/usr/bin/procmail -t -Y -a "$EXTENSION" -d "$USER"'
	recipient_delimiter=+
	"mydestination=\$myhostname,localhost,$postfix_local_host_names"
	local_recipient_maps=
	biff=no
	'smtpd_banner=$myhostname ESMTP'
	smtpd_delay_reject=no
        mynetworks=127.0.0.0/8
	smtpd_sender_restrictions=reject_unauth_pipelining,permit_mynetworks,reject_non_fqdn_sender,reject_unknown_sender_domain
	smtpd_recipient_restrictions=reject_unauth_pipelining,permit_mynetworks,reject_unauth_destination,reject_non_fqdn_recipient,reject_unknown_recipient_domain
	message_size_limit=50000000
	mailbox_size_limit=0
    )
    postconf -e "${x[@]}"
    rsconf_file_hash_check /etc/postfix/main.cf
}

postfix_setup_bop() {
    local mail_domains=( "$@" )
    local master=/etc/postfix/master.cf
    local main=/etc/postfix/main.cf
    rsconf_file_hash_save "$main"
    postconf -e \
        'mailbox_transport=b-sendmail-http:unix' \
        'smtpd_timeout=${stress?12}${stress:300}' \
        'smtpd_hard_error_limit=${stress?1}${stress:20}' \
	'b-sendmail-http_destination_recipient_limit=1'
    rsconf_file_hash_check "$main"
    local rsconf_edit_no_change_res=0
    rsconf_edit "$master" \
        '^smtp.*200' 's{^smtp\s+inet.*}{smtp       inet  n       -       n       -       200       smtpd}'
    rsconf_edit "$master" \
        '^local.*8' 's{^local\s.*}{local     unix  -       n       n       -       8       local}'
    local h
    for h in "${mail_domains[@]}"; do
        rsconf_append "$postfix_local_host_names" "$h"
    done
    rsconf_append "$master" \
        'b-sendmail-http unix  -       n       n       -       2       pipe flags=DRhu user=nobody:nobody argv=/usr/bin/b-sendmail-http ${client_address} ${recipient} localhost.localdomain:80/_mail_receive/%s /bin/false any-param'

#TODO(robnagler)
# b-spamc-http
##!/bin/sh
## $Id: b-spamc-http,v 1.3 2013/05/19 22:35:51 nagler Exp $
#/usr/bin/spamc | /usr/bin/b-sendmail-http "$@"

}

# Testing email
true <<'EOF2'
/usr/sbin/sendmail fourem@petshop.v4.radia.run <<'EOF'
To: fourem@petshop.v4.radia.run
Subject: testing 123
From: vagrant+btest_btest_admin@v4.radia.run

test
EOF
EOF2

https://janikarhunen.fi/tackle-spam-with-spamassassin-on-centos7-and-postfix.html
http://forums.sentora.org/showthread.php?tid=1118
