#!/bin/bash

postfix_main() {
    {% if postfix.have_sasl %}
        postfix_setup_sasl
    {% endif %}
    # never hurts
    newaliases
}

{% if postfix.have_sasl %}
postfix_setup_sasl() {
    {# To debug:
    # 	postconf -e 'smtpd_tls_loglevel = 3' 'debug_peer_list = 127.0.0.1'
    #	service postfix restart
    #
    #   saslpasswd2 -c -u v3.radia.run testuser
    #   chown root:mail /etc/sasldb2
    #   chmod 640 /etc/sasldb2
    #   printf '\0%s\0%s' 'test1@v3.radia.run' 'testpass' | openssl base64
    #   AHRlc3R1c2VyQGJpdmlvLmJpegB0ZXN0cGFzcw==
    #
    #   openssl s_client -starttls smtp -connect localhost:587
    #   You should see a long output:
    #   ....
    #   250 DSN
    #
    #	Then enter:
    #	EHLO localhost.localdomain
    #   AUTH PLAIN AHRlc3QxQHYzLnJhZGlhLnJ1bgB0ZXN0cGFzcw==
    #
    #   You'll see:
    #   235 2.7.0 Authentication successful
    #
    #	Can try:
    #   VRFY test1@v3.radia.run
    #
    # db_dump -p /etc/sasldb2
    # regenerate sasl_users:
    # db_dump -p /etc/sasldb2 | perl -n -e 's{ ([^\\]+)\\00([^\\]+).*user}{} && print "$1\@$2: "; m{ (\S{10,24})} && print "$1\n"'
    #}
    rsconf_yum_install cyrus-sasl cyrus-sasl-plain
    rm -f /etc/sasldb2.new
    {% for u in postfix.sasl_users_flattened %}
        echo '{{ u.password }}' | saslpasswd2 -f /etc/sasldb2.new -c -p -u '{{ u.domain }}' '{{ u.user }}'
    {% endfor %}
    chown root:mail /etc/sasldb2.new
    chmod 640 /etc/sasldb2.new
    mv -f /etc/sasldb2.new /etc/sasldb2
}
{% endif %}


# Testing email
true <<'EOF2'
/usr/sbin/sendmail fourem@petshop.v4.radia.run <<'EOF'
To: fourem@petshop.v4.radia.run
Subject: testing 123
From: vagrant+btest_btest_admin@v4.radia.run

test
EOF
EOF2
