{% for port in range(sirepo.global_resources.public_ports_min, sirepo.global_resources.public_ports_max) %}
server {
    listen {{ nginx.listen_ip }}:{{ port }};
    server_name {{ nginx.vhost }};
    root {{ nginx.default_root }};
    ssl_certificate {{ nginx.tls_crt }};
    ssl_certificate_key {{ nginx.tls_key }};

    location /{{ rsiviz.index_uri_secret }} {
        proxy_pass http://127.0.0.1:{{ port }}/;

    }

}
{% endfor %}
