[Unit]
Description=sirepo
Requires=celery_sirepo.service docker.service rabbitmq.service
After=celery_sirepo.service docker.service rabbitmq.service

[Service]
Restart=on-failure
RestartSec=10
ExecStartPre=/var/lib/sirepo/remove
ExecStart=/var/lib/sirepo/start
ExecStop=-/var/lib/sirepo/stop

[Install]
WantedBy=multi-user.target
