AuthorizedKeysFile {{ sirepo_sandbox.guest.identity_pub_f }}
HostKey {{ sirepo_sandbox.guest.host_key_f }}
ListenAddress {{ sirepo_sandbox.ip }}:{{ sirepo_sandbox.ssh_port }}
PasswordAuthentication no
PermitTunnel no
PermitUserEnvironment no
PrintLastLog no
PrintMotd no
Protocol 2
UseDNS no
