[Unit]
After=docker.service 
Description=jupyterhub
Requires=docker.service

[Service]
ExecStart=/srv/jupyterhub/start
ExecStartPre=/srv/jupyterhub/remove
ExecStop=-/srv/jupyterhub/stop
Restart=on-failure
RestartSec=10
SyslogIdentifier=jupyterhub

[Install]
WantedBy=multi-user.target
