#!/bin/bash
set -eu -o pipefail
{# reduce the noise in the logs by ignoring output unless an error #}
if ! named-checkconf -z '{{ named.conf_f }}' >& /dev/null; then
    named-checkconf -z '{{ named.conf_f }}'
fi
exec named -c '{{ named.conf_f }}' \
    -n '{{ named.num_threads }}' \
    -S '{{ named.max_sockets }}' \
    -u '{{ named.run_group }}'
