#!/bin/bash
set -eou pipefail
docker exec -i '{{ systemd.service_name }}' bash -s "$PWD" <<'EOF'
set -eou pipefail
cd "$1"
export MYSQL_PWD='{{ rs_mariadb.root_password }}'
for d in $(mysql --batch --disable-column-names -u root -e 'show databases'); do
    mysqldump -u root "$d" | xz > "$d".sql.xz
done
EOF
