{
    "iptables": {{ docker.iptables | tojson }},
    "data-root": "{{ docker.data_d }}",
    "live-restore": true,
    "log-driver": "journald",
    {% if docker_registry.http_host is defined %}
    "registry-mirrors": ["{{ docker_registry.http_host }}"],
    {% elif docker_cache.http_host is defined %}
    "registry-mirrors": ["{{ docker_cache.http_host }}"],
    {% endif %}
    {% if docker.tls is defined %}
    "hosts": ["tcp://{{ docker.tls.ip }}:2376", "unix:///run/docker.sock"],
    "tls": true,
    "tlsverify": true,
    "tlscacert": "{{ docker.tls.crt }}",
    "tlscert": "{{ docker.tls.crt }}",
    "tlskey": "{{ docker.tls.key }}",
    {% endif %}
    "storage-driver": "overlay2",
    "storage-opts": [
        "overlay2.override_kernel_check=true"
    ]
}
