#!/bin/bash

docker_systemd_fixup() {
    # https://github.com/radiasoft/rsconf/issues/57
    local o=/usr/lib/systemd/system/docker.service
    if ! grep -s -q 'unix://' "$o"; then
        return
    fi
    local c=/etc/systemd/system/docker.service
    local n=$c.new
    perl -p -e 's{ -H unix://}{}' "$o" > "$n"
    if cmp "$c" "$n" >& /dev/null; then
        rm -f "$n"
        return
    fi
    chmod 644 "$n"
    mv "$n" "$c"
    systemctl stop docker
    systemctl disable docker
    systemctl daemon-reload
    systemctl start docker
    systemctl enable docker
}

docker_install() {
    local dir={{ docker.data_d }}/volumes
    if [[ -e $dir && $(type -t docker) != '' ]]; then
#TODO(robnagler) update docker rpm?
        install_info "$dir: exists, docker already installed"
        return
    fi
#TODO(robnagler) need a list of repos and RPMs.
    # F27
    if rsconf_fedora_release_if 26; then
        # https://docs.docker.com/engine/installation/linux/docker-ce/fedora/#set-up-the-repository
        dnf -y install dnf-plugins-core
        dnf config-manager \
            --add-repo \
            https://download.docker.com/linux/fedora/docker-ce.repo
    else
        yum-config-manager \
            --add-repo https://download.docker.com/linux/centos/docker-ce.repo
        yum makecache fast
        # yum-plugin-ovl required for overlay2 on centos7
        # https://github.com/docker-library/official-images/issues/1291
        rsconf_yum_install yum-plugin-ovl
    fi
#TODO(robnagler) how to update?
    rsconf_yum_install docker-ce
    {% if rsconf_db.channel == "dev" %}
        # Give vagrant user access in dev mode only
        usermod -aG docker vagrant
    {% endif %}
}

docker_main() {
    docker_install
    docker_systemd_fixup
}
